.tablet-section-a {
  display: none;
}

.tablet-section-b {
  display: none;
}
.suggestion {
  display: none;
}

/* SECTION-1 START */
.section-1 .menu-bar {
  display: none;
}

.section-1 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-1 .navbar-logo {
  width: 8rem;
}

.section-1 .menu-toggle .fa-2x {
  font-size: 1.2rem;
}
/* SECTION-1 END */

/* SECTION-2 START */
.section-2 .doctor-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2 select {
  background-color: #bdc5cc;
  border: none;
  padding: 0.5rem 1rem;
}
/* SECTION-2 END */

/* SECTION-3 START */
.section-3 .doctor {
  border: 1px solid #bdc5cc;
  margin-top: 2rem;
  padding-top: 2rem;
}
.section-3 .doctor h3 {
  padding: 0 1rem;
  color: #2596be;
}

.section-3 hr {
  display: inline-flex;
  width: 3.5rem;
  height: 4px;
  text-align: left;
  background-color: #2596be;
  margin: 0;
}
.section-3 .doctor-name {
  display: flex;
  justify-content: left;
  align-items: center;
}
.section-3 .doctor-appointment {
  text-align: center;
}
.section-3 .doctor-appointment button {
  border-radius: 0;
  margin: 1rem 0;
}
.section-3 .doctor-image {
  /* text-align: center; */
  height: 30rem;
}
.section-3 .doctor-image img {
  object-position: 41% 20%;
}
.section-3 > div:first-child {
  margin-top: 0;
}
.section-3 > div:last-child {
  margin-bottom: 1rem;
}
.section-3 ul li {
  display: flex;
  margin: 1rem 0;
}
.section-3 .icon {
  width: 3rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 .icon i {
  font-size: 1.2rem;
  color: #2596be;
}
.section-3 p {
  align-self: center;
  padding: 0 1.5rem;
  margin: 0;
}

section.section-3 div.doctor:last-child {
  margin-bottom: 1rem;
}
/* SECTION-3 END */
/* SECTION-7 START */
.section-7 {
  background-color: var(--main-backgroundColor);
  text-align: center;
}

.section-7 h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

.section-7 p {
  margin-bottom: 1.5rem;
}

.section-7 .enquiryButton {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
}
/* SECTION-7 END */

/* FOOTER START */
footer {
  text-align: center;
}

footer ul li {
  margin-bottom: 1rem;
}

footer img {
  width: 10rem;
  margin-bottom: 1rem;
}

footer i {
  font-size: 1.2rem;
}

footer i {
  margin: 1rem;
}
footer .social-media {
  margin-bottom: 1rem;
}
/* FOOTER END */

/* MEDIA QUERRIES */

@media (max-width: 415px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* SECTION-2 START */
  .section-2 select {
    padding: 1rem;
  }
  /* SECTION-2 END */

  /* SECTION-3 START */
  hr {
    width: 4.5rem;
  }
  /* SECTION-3 END */

  /* TABLET-SECTION-A START */
  .tablet-section-a .section-a-img {
    height: 25rem;
    background-color: var(--main-backgroundColor);
    position: relative;
  }
  .tablet-section-a .section-a-img img {
    opacity: 0.2;
    object-fit: cover;
    object-position: 50% 100%;
    position: relative;
  }
  .tablet-section-a .overlay-text {
    position: absolute;
    top: 15.5rem;
    z-index: 10;
    padding: 1rem;
    text-align: left;
  }
  .tablet-section-a h2 span {
    font-family: "nexa-light";
    font-size: 2.5rem;
  }
  .tablet-section-a h2 u {
    text-decoration: none;
    border-bottom: 1px solid var(--textColor);
  }
  .tablet-section-a {
    display: block;
    padding: 0;
  }
  /* TABLET-SECTION-A END */

  /* TABLET-SECTION-B START */
  .tablet-section-b {
    display: block;
    width: 35%;
    padding-left: 0;
  }
  .tablet-section-b ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tablet-section-b ul li input {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    margin: 0;
  }
  .tablet-section-b label {
    font-family: "nexa-bold";
  }

  .tablet-section-b .div-1 {
    background-color: #bdc5cc;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  .tablet-section-b .div-2 {
    display: flex;
    justify-content: space-between;
  }

  .tablet-section-b .div-2 i {
    font-size: 1.5rem;
  }
  .tablet-section-b .div-2 hr {
    width: 2rem;
    height: 0.4rem;
    margin-left: 0.5rem;
  }
  .tablet-section-b .div-4 {
    display: flex;
    flex-direction: column;
  }
  .tablet-section-b ul li label {
    font-family: "nexa-light";
    margin-left: 1.5rem;
  }
  .tablet-section-b .filter-by-location {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .tablet-section-b ul {
    padding: 2rem 0;
    margin: 0;
  }
  .tablet-section-b .bottom-line {
    width: 100%;
    height: 2px;
    color: #bdc5cc;
  }
  .tablet-section-b .div-3 {
    display: flex;
    align-items: center;
  }
  /* TABLET-SECTION-B END */

  /* MAIN SECTION START */
  #main-section {
    display: flex;
  }
  /* MAIN SECTION END */

  /* SECTION-3 START */
  .section-3{
    padding-right: 0;
  }
  .section-3 .icon i {
    width: inherit;
    text-align: center;
  }
  .section-3 .doctor-image {
    height: 25rem;
  }
  .section-3 .doctor {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 0.5rem;
    padding-top: 0;
  }
  .section-3 ul li {
    margin: 0.5rem 0;
    padding: 0;
  }
  .section-3 .doctor .doctor-name hr {
    width: 3rem;
    height: 5px;
  }
  .section-3 .doctor h3 {
    margin-bottom: 0;
  }
  .section-3 .doctor-name {
    margin: 1rem 0;
  }
  .section-3 .doctor-list {
    padding: 0 1rem;
  }
  .section-3 .main-div ul li p {
    margin: 0;
    padding: 0 1rem;
  }
  .section-3 .main-div ul li {
    margin: 1rem 0;
  }
  .section-3 .doctor-appointment {
    margin-left: 0.5rem;
    text-align: left;
  }
  /* SECTION-3 END */

  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  /* FOOTER END */
}

@media (min-width: 1025px) {
  /* SECTION-1 START */
  .section-1 .menu-toggle {
    display: none;
  }
  .section-1 {
    padding: 1rem 2rem;
  }
  .section-1 .menu-bar {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }
  .section-1 .navbar-logo {
    width: 10%;
  }
  .section-1 .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  .section-1 .menu-bar ul li {
    padding: 0;
  }
  .section-1 .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }
  /* SECTION-1 END */

  /* TABLET-SECTION-A START */
  .tablet-section-a .section-a-img {
    height: 20rem;
    background-color: var(--main-backgroundColor);
    position: relative;
  }
  .tablet-section-a .section-a-img img {
    opacity: 0.2;
    object-fit: cover;
    object-position: 50% 30%;
    position: relative;
  }
  .tablet-section-a .overlay-text {
    position: absolute;
    top: 13.5rem;
    z-index: 10;
    padding: 0 2rem;
    text-align: left;
  }
  .tablet-section-a h2 {
    margin: 0;
  }
  .tablet-section-a h2 span {
    font-family: "nexa-light";
    font-size: 2.5rem;
  }
  .tablet-section-a h2 u {
    text-decoration: none;
    border-bottom: 1px solid var(--textColor);
  }
  .tablet-section-a {
    display: block;
    padding: 0;
  }
  /* TABLET-SECTION-A END */

  /* SECTION-2 START */
  .section-2 {
    padding: 1rem 2rem;
    padding-bottom: 0;
  }
  /* SECTION-2 END */

  /* SECTION-3 START */
  /* .section-3 hr {
    width: 4.5rem;
  } */
  /* SECTION-3 END */

  /* TABLET-SECTION-B START*/
  .tablet-section-b {
    display: block;
    width: 60%;
    padding-right: 1rem;
    padding-left: 0;
    padding-top: 0;
  }
  .tablet-section-b ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tablet-section-b ul li input {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    margin: 0;
  }
  .tablet-section-b ul li input:checked + label:before {
    background: black;
  }
  .tablet-section-b h5 {
    font-family: "nexa-bold";
    margin: 0;
  }
  .tablet-section-b .div-1 {
    background-color: #bdc5cc;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .tablet-section-b .div-2 {
    display: flex;
    justify-content: space-between;
  }

  .tablet-section-b .div-2 hr {
    width: 1rem;
    height: 0.4rem;
  }
  .tablet-section-b .div-4 {
    display: flex;
    flex-direction: column;
  }
  .tablet-section-b ul li label {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }
  .tablet-section-b ul li div {
    display: flex;
    align-items: center;
  }
  .filter-by-location {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .tablet-section-b ul {
    padding: 1rem 0;
    margin: 0;
  }
  .tablet-section-b .bottom-line {
    width: 100%;
    height: 1px;
    background-color: #464748;
  }
  .tablet-section-b .div-3 {
    display: flex;
    align-items: center;
    width: 5rem;
    justify-content: space-between;
  }
  .tablet-section-b .div-4 a {
    font-family: "nexa-bold";
    color: var(--main-backgroundColor);
  }
  .tablet-section-b .suggestion {
    display: block;
  }
  .tablet-section-b .suggestion ul {
    padding-bottom: 0.5rem;
  }
  .tablet-section-b .suggestion ul li {
    display: inline-block;
    width: max-content;
    align-items: center;
    font-family: "nexa-bold";
    border: 1px solid;
    margin: 0.3rem;
    border-radius: 2rem;
    min-width: 4rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .tablet-section-b .suggestion ul li button {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    padding-left: 1rem;
    color: var(--main-backgroundColor);
  }

  /* TABLET-SECTION-B END */

  /* MAIN SECTION START */
  #main-section {
    display: flex;
    padding: 1rem 2rem;
  }
  /* MAIN SECTION END */

  /* SECTION-3 START */
  .section-3 {
    padding-right: 0;
    padding-top: 0;
  }

  .section-3 .doctor-image {
    height: 20rem;
  }
  .section-3 .doctor {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .section-3 ul li {
    margin: 0.5rem 0;
    padding: 0;
  }
  .section-3 .doctor .doctor-name hr {
    width: 3rem;
    height: 2px;
  }
  .section-3 .doctor {
    padding-top: 0;
  }
  .section-3 .doctor h3 {
    margin-bottom: 0;
  }
  .section-3 .doctor-name {
    margin: 1rem 0;
  }
  .section-3 .doctor-list {
    padding: 0 1rem;
  }
  .section-3 .main-div ul {
    padding-left: 0;
    margin-left: 3.5rem;
  }
  .section-3 .main-div ul li p {
    padding: 0 1rem;
    margin: 0;
    display: inline-block;
  }
  .section-3 .main-div ul li {
    margin: 0.5rem;
    display: inline-block;
    width: 13rem;
  }
  .section-3 .doctor-appointment {
    margin: 0;
    margin-left: 4rem;
    text-align: left;
  }
  .section-3 .doctor-appointment button {
    padding: 0.7rem 2rem;
  }
  .section-3 .doctor ul .icon {
    width: max-content;
    display: inline-block;
  }
  /* SECTION-3 END */

  /* SECTION-7 START */
  .section-7 .section-7-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-7 p {
    margin-bottom: 0;
  }
  .section-7 .section-7-text {
    text-align: left;
  }
  .section-7 .enquiryButton {
    border-radius: 0;
  }
  /* SECTIOLN-7 END */

  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  #footer-base-line {
    width: 100%;
    height: 0.5rem;
    background-color: var(--main-backgroundColor);
  }
  /* FOOTER END */
}
