/* SECTION-1 START */
.section-1 .menu-bar {
  display: none;
}

.section-1 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-1 .navbar-logo {
  width: 8rem;
}

.section-1 .menu-toggle .fa-2x {
  font-size: 1.2rem;
}
/* SECTION-1 END */

/* SECTION-2 START */
.section-2 {
  background-color: var(--main-backgroundColor);
  text-align: center;
}

.section-2 h1 {
  margin-bottom: 1rem;
}

.section-2 .search-button {
  border-radius: 0;
  margin: 1rem;
}

.section-2 .search-section {
  margin-top: 1rem;
}

.section-2 .search-section input {
  margin: 0.4rem 0;
  border: none;
}

.section-2 .search-section img {
  width: 2rem;
}

.section-2 .search-section-location {
  display: flex;
}

.section-2 .location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0.4rem 0;
  width: 4rem;
  height: 3.3rem;
}

.section-2 .gps-icon img {
  width: 1.2em;
  height: 1.2em;
}

.section-2 i.fa-2x {
  font-size: 1.2em;
}

.section-2 .gps-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0.4rem 0;
  width: 4rem;
  height: 100%;
  height: 3.3em;
}
/* SECTION-2 END */

/* SECTION-3 START */
#ol-tablet-view {
  display: none;
}
.inactive {
  display: none;
}
.section-3 {
  text-align: center;
}

.section-3 h2 {
  margin-bottom: 1rem;
}

.section-3 p {
  margin-bottom: 1rem;
}

.section-3-grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.section-3-grid .grid-3 img {
  width: 58%;
  height: 77%;
}

.section-3-grid .grid-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-3 .section-3-grid .grid-4 h3 {
  margin-bottom: 1rem;
}

.section-3 ol li {
  margin: 1rem 0;
  padding: 1.2rem;
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
  font-family: "nexa-bold";
  text-align: left;
}

.section-3 .grid-2 li {
  opacity: 0.3;
}

.specialSpan {
  color: var(--main-backgroundColor);
}

.section-3 .section-3-grid li h3 span {
  font-family: "nexa-bold";
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.section-3 .fix-consultation {
  opacity: 1;
}

.section-3 h4 {
  padding: 1rem;
}

.section-3 img {
  margin: 1rem 0;
  align-items: center;
}
#index1 {
  margin-bottom: 0;
}
#index7 {
  margin-bottom: 1rem;
}
/* SECTION-3 END */

/* SECTION-4 START */
.section-4 {
  background-color: var(--coloredSectionColor);
  text-align: center;
}

.doctor-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-4 h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

.section-4 p {
  color: var(--white);
}

.section-4 .doctor {
  background-color: var(--white);
  height: 50rem;
}

.section-4 .doctor-img {
  padding-bottom: 1.5rem;
  height: 80%;
}

.section-4 .doctor hr {
  background-color: var(--doctorNameColor);
  border-color: var(--doctorNameColor);
  border-width: 1.5px;
  width: 3.5rem;
  position: absolute;
  align-self: left;
}

.doctor-info {
  padding: 0 4rem;
  text-align: left;
  height: 19%;
}

.doctor-info h3 {
  color: var(--doctorNameColor);
  position: relative;
  bottom: 0.5rem;
}

.bottom-line {
  height: 0.5rem;
  width: 100%;
  background-color: var(--main-backgroundColor);
}
.crousel {
  display: none;
}

/* SECTION-4 END */

/* SECTION-5 START */
.section-5 {
  text-align: center;
}
.section-5 .section-5-text h2 {
  margin-bottom: 1rem;
}
.section-5 .section-5-text p {
  margin-bottom: 1rem;
}
.section-5 .medical-treatment {
  width: 100%;
  height: 30rem;
  margin: 1rem 0;
  position: relative;
}

.medical-treatment::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(1, 0, 5, 0.01724439775910369) 0%,
    rgba(18, 10, 18, 0.3981967787114846) 64%,
    rgba(0, 0, 0, 0.8239670868347339) 94%
  );
}

.section-5 .overlay-text {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  padding: 2rem;
  text-align: left;
}

.section-5 .overlay-text h3 {
  color: var(--white);
  margin-bottom: 0.5rem;
}

.section-5 .overlay-text span {
  color: var(--white);
}
/* SECTION-5 END */

/* SECTION-6 START */

.section-6 {
  background-color: var(--section6BackgroundColor);
  text-align: center;
}
.section-6 h2 {
  margin-bottom: 1rem;
}

.section-6 .service-img img {
  width: 60%;
}

.section-6 .service-img {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--white);
}

.section-6 .services {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/* SECTION-6 END */

/* SECTION-7 START */
.section-7 {
  background-color: var(--main-backgroundColor);
  text-align: center;
}

.section-7 h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

.section-7 p {
  margin-bottom: 1.5rem;
}

.section-7 .enquiryButton {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
}
/* SECTION-7 END */
/* FOOTER START */
footer {
  text-align: center;
}

footer ul li {
  margin-bottom: 1rem;
}

footer img {
  width: 10rem;
  margin-bottom: 1rem;
}

footer i {
  font-size: 1.2rem;
}

footer i {
  margin: 1rem;
}
footer .social-media {
  margin-bottom: 1rem;
}
/* FOOTER END */

@media (max-width: 415px) {
  /* SECTION-3 START */
  .section-3-grid .grid-3 img {
    width: 85%;
    height: 64%;
  }
  .section-3 .grid-2 h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-3 .section-3-grid li h3 span {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-3 .section-3-grid .grid-1 h3 {
    font-size: 1.2rem;
  }

  /* SECTION-3 END */
  /* SECTION-4 START */
  .section-4 .doctor hr {
    width: 2.5rem;
  }

  .section-4 .doctor {
    height: 40rem;
  }

  .section-4 .doctor-img {
    height: 70%;
  }

  .section-4 .doctor-info {
    padding: 0 3rem;
    height: 29%;
  }
  /* SECTION-4 END */

  /* SECTION-6 START */
  .section-6 .services {
    grid-template-columns: repeat(2, 50%);
    gap: 0.5rem;
  }

  .section-6 .service-img {
    padding: 1rem;
    border-radius: 1rem;
  }

  .section-6 .service-img h5 {
    font-size: 1rem;
  }
  /* SECTION-6 END */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* SECTION-2 START */
  .section-2 .section-2-text p {
    margin-bottom: 1.5rem;
  }
  .section-2 .location {
    height: 100%;
    width: 100%;
  }

  .section-2 .search-for {
    width: 75%;
  }

  .section-2 .search-section {
    display: flex;
  }

  .section-2 .location-icon {
    height: 3rem;
  }

  .section-2 .gps-icon {
    margin: 0;
    height: 4.3em;
  }

  .section-2 .location-icon {
    margin: 0;
    height: 4.3rem;
  }

  .section-2 .gps-icon img {
    width: 1.2em;
    height: 1.2em;
  }

  .section-2 .search-section input {
    margin: 0;
    border: none;
  }

  .section-2 .search-section .search-for {
    margin: 0;
    margin-left: 0.2rem;
  }

  .section-2 .search-button {
    border-radius: 0;
    margin: 0rem;
  }
  /* SECTION-2 END */

  /* SECTION-3 START */
  #ol-mobile-view {
    display: none;
  }
  #ol-tablet-view {
    display: block;
  }
  #ol-tablet-view .inactiveTablet {
    display: none;
  }
  #ol-tablet-view .tabletActiveLi {
    opacity: 1;
    border: 2px solid var(--main-backgroundColor);
  }
  #ol-tablet-view .tabletInactiveLi {
    opacity: 0.3;
    border: 1px solid var(--borderColor);
  }
  .section-3 .section-3-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    column-gap: 1rem;
  }
  .section-3 .section-3-text p {
    margin-bottom: 0;
  }
  .section-3 .section-3-grid .grid-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .section-3 .section-3-grid .grid-3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .section-3 .section-3-grid .grid-3 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-3 ol {
    padding: 0;
    margin-top: 2rem;
  }
  .section-3 ol li {
    border-radius: 0.7rem;
  }
  .section-3 .section-3-grid .grid-1 li {
    margin: 0;
    border: 2px solid var(--main-backgroundColor);
  }
  .section-3 .section-3-grid .grid-1 span {
    color: var(--main-backgroundColor);
  }

  .section-3 .section-3-grid .grid-3 img {
    width: 22rem;
    height: 23rem;
  }
  .section-3 ol li {
    padding: 1.5rem 1rem;
  }
  .section-3 .section-3-grid li h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .section-3 .section-3-grid li h3 span {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--main-backgroundColor);
  }
  /* SECTION-3 END */

  /* SECTION-4 START */
  .section-4 .doctor {
    height: 44rem;
  }

  .section-4 .doctor-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .section-4 .doctor-info h3 {
    bottom: 0.2rem;
  }

  .section-4 .bottom-line {
    height: 1%;
  }

  .section-4 .doctor-info ol li {
    font-size: 1.5rem;
  }

  .section-4 .doctor-info ul li {
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 0.3rem 0;
  }

  .section-4 .doctor-info ul {
    padding: 0.5rem 0;
  }

  .section-4 .doctor .doctor-img {
    height: 68%;
  }

  .section-4 .doctor .doctor-info {
    height: 31%;
  }
  /* SECTION-4 END */

  /* SECTION-5 START */
  .section-5 .section-5-text p {
    margin: 0;
  }
  .section-5 .treatment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .section-5 .medical-treatment {
    margin: 0;
    height: 30rem;
  }
  .section-5 .treatment .overlay-text h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .section-5 .treatment .overlay-text span {
    font-size: 1.2rem;
    font-family: "nexa-light";
  }
  /* SECTION-5 END */

  /* SECTION-6 START */
  .section-6 .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .section-6 .services {
    gap: 0.5rem;
  }

  .section-6 .service-img {
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .section-6 .service-img img {
    padding: 0;
  }
  /* SECTION-6 END */

  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  /* FOOTER END */
}

@media (min-width: 1025px) {
  /* SECTION-1 START */
  .section-1 .menu-toggle {
    display: none;
  }

  .section-1 {
    padding: 1rem 2rem;
  }

  .section-1 .menu-bar {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }

  .section-1 .navbar-logo {
    width: 10%;
  }

  .section-1 .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }

  .section-1 .menu-bar ul li {
    padding: 0;
  }

  .section-1 .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }
  /* SECTION-1 END */

  /* SECTION-2 START */
  .section-2 {
    text-align: left;
    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-2-text {
    width: 75%;
  }

  .section-2 .section-2 p {
    padding: 0;
  }

  .section-2 .search-section input {
    margin: 0;
  }

  .section-2 .search-button {
    margin: 0;
  }

  .section-2 .location-icon {
    margin: 0;
    height: 3rem;
  }

  .section-2 .gps-icon {
    margin: 0;
    height: 3rem;
  }

  .search-section {
    display: flex;
  }

  .search-section-location {
    width: 55%;
    margin-right: 0.1rem;
  }

  .section-2 .section-2-desktop {
    width: 65%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .location-icon .fa-2x {
    font-size: 1.2em;
  }

  .gps-icon img {
    width: 1.2em;
    height: 1.2em;
  }

  .section-2 .search-section {
    margin-top: 0;
  }
  /* SECTIION-2 END */

  /* SECTION-3 START */
  #ol-mobile-view {
    display: none;
  }
  #ol-tablet-view {
    display: block;
  }
  #ol-tablet-view .inactiveTablet {
    display: none;
  }
  #ol-tablet-view .tabletActiveLi {
    opacity: 1;
    border: 2px solid var(--main-backgroundColor);
  }
  #ol-tablet-view .tabletInactiveLi {
    opacity: 0.3;
    border: 1px solid var(--borderColor);
  }
  .section-3 .section-3-text p {
    padding: 0;
  }

  .section-3 .section-3-text p::after {
    content: "Pellentesque habitant morbi tristique senectus egestas. Vestibulum  leo.";
  }

  .section-3 ol li {
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 1rem 0;
  }

  .section-3 .section-3-grid .grid-1 span {
    color: var(--main-backgroundColor);
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .section-3 .section-3-grid .grid-2 span {
    color: var(--main-backgroundColor);
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .section-3 .section-3-text {
    text-align: left;
  }

  .section-3 .section-3-grid span::after {
    content: "\2003";
  }

  .section-3 .section-3-grid .grid-1 li {
    border: 2px solid var(--main-backgroundColor);
  }

  .section-3 .section-3-grid .grid-1,
  .section-3 .section-3-grid .grid-2 {
    width: 80%;
  }

  .section-3 .section-3-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1rem;
  }

  .section-3 .section-3-grid .grid-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .section-3 .section-3-grid .grid-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-3 .section-3-grid .grid-3 img {
    width: 63%;
    height: auto;
    object-fit: cover;
  }

  .section-3 .grid-4 h4 {
    padding: 0;
  }

  .section-3 .section-3 ol {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .section-3 .section-3-grid .grid-1 li {
    margin: 0;
  }

  .section-3 #indexTablet7 {
    margin-bottom: 0;
  }
  /* SECTION-3 END */

  /* SECTION-4 START */

  #crousel1,
  #crousel2,
  #crousel3,
  #crousel4 {
    animation: 1s ease;
  }
  .section-4 .section-4-text {
    text-align: left;
  }

  .section-4 .doctor-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .section-4 .doctor {
    height: 30rem;
  }

  .section-4 .doctor .doctor-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    padding-bottom: 1.2rem;
  }

  .section-4 .doctor-img img {
    object-fit: cover;
  }

  .section-4 .doctor .doctor-info {
    height: 29%;
    padding: 0 2rem;
  }

  .section-4 .doctor-info h3 {
    bottom: 0.2rem;
  }

  .section-4 .doctor-section hr {
    width: 1.5rem;
    background-color: var(--doctorNameColor);
  }

  .section-4 .doctor-info ol li {
    bottom: 0rem;
  }

  .section-4 .doctor-info ul li {
    align-self: center;
    line-height: 1rem;
  }

  .section-4 .crousel {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .section-4 .crousel-radio-button {
    width: 0.7rem;
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
  }

  .section-4 .crousel input {
    width: inherit;
    margin: 0;
  }
  .section-4 .bottom-line {
    height: 1%;
  }

  .section-4 .inactiveCrousel {
    display: none;
  }
  .section-4 .activeCrousel {
    display: grid;
  }
  /* SECTION-4 END */

  /* SECTION-5 START */
  .section-5 .section-5-text {
    text-align: left;
    margin: 0;
  }
  .section-5 .section-5-text p {
    margin-bottom: 0;
  }
  .section-5 .medical-treatment {
    margin: 0;
  }
  .section-5 .treatment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem 3rem 2rem 20rem;
    grid-template-areas: "dentistry cancer cardiologic" "organ cancer cardiologic" "organ cancer infertility" "organ orthopadics infertility";
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .section-5 .dentistry {
    grid-area: dentistry;
    height: 15rem;
  }
  .section-5 .cancer {
    grid-area: cancer;
    height: 21rem;
  }
  .section-5 .cardiologic {
    grid-area: cardiologic;
    height: 18.5rem;
  }
  .section-5 .organ {
    grid-area: organ;
    height: 26rem;
  }
  .section-5 .orthopadics {
    grid-area: orthopadics;
    height: 20rem;
  }
  .section-5 .infertility {
    grid-area: infertility;
    height: 22.5rem;
  }
  .section-5 .overlay-text {
    padding: 0.5rem 1rem;
  }
  .section-5 .treatment .medical-treatment h4 {
    padding-bottom: 0.5rem;
  }
  /* SECTION-5 END */
  /* SECTION-6 START */
  .section-6 .section-6-text {
    text-align: left;
  }
  .section-6 .services {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.2rem;
    margin-bottom: 0;
  }
  .section-6 .service-img {
    padding: 1rem;
    border-radius: 0;
  }
  /* SECTION-6 END */

  /* SECTION-7 START */
  .section-7 .section-7-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-7 p {
    margin-bottom: 0;
  }
  .section-7 .section-7-text {
    text-align: left;
  }
  .section-7 .enquiryButton {
    border-radius: 0;
  }
  /* SECTIOLN-7 END */

  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  #footer-base-line {
    width: 100%;
    height: 0.5rem;
    background-color: var(--main-backgroundColor);
  }
  /* FOOTER END */
}
