body {
  background-color: var(--main-backgroundColor);
}
/* SECTION-1 START */
.section-1 {
  background-color: white;
}
.section-1 .menu-bar {
  display: none;
}
.section-1 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-1 .navbar-logo {
  width: 8rem;
}
.section-1 .menu-toggle .fa-2x {
  font-size: 1.2rem;
}
/* SECTION-1 END */

/* SECTION-2 START */
.section-2 {
  height: 90%;
  position: relative;
  bottom: 50%; 
  text-align: center;
}

.section-2 .div-1 {
  background-color: var(--white);
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 0 0 10px #000000;
  margin-bottom: 4rem;
}

.section-2 .div-1 h2 {
  padding: 1rem 0;
}
.section-2 .div-1 hr {
  border: none;
  border-top: 1px solid gray;
  margin: 0;
  margin-bottom: 2rem;
}

.section-2 .input-fields {
  text-align: center;
  row-gap: 0.7rem;
  column-gap: 0.5rem;
  margin: 2rem;
  margin-bottom: 0.7rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

input {
  padding: 1rem;
  border: 1px solid rgb(207, 199, 199);
}

.input-fields select {
  opacity: 0.8;
  padding: 0.5rem;
  border: 1px solid rgb(207, 199, 199);
}

.input-fields > input:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > select:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.input-fields > input:nth-child(8) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.input-fields > select:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.signup-button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-2 .div-1 button {
  width: 90%;
  letter-spacing: 0.4rem;
  padding: 1rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  margin-right: 0;
  border-radius: 0;
}

.section-2 .div-1 .font-icon-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-left: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  background-color: var(--searchButtonColor);
  color: white;
}

.section-2 p {
  font-family: "nexa-bold";
}
.section-2 .div-1 p {
  font-family: "nexa-bold";
  color: grey;
}
.section-2 p span {
  font-family: "nexa-bold";
}

/* SECTION-2 END */

@media (max-width: 415px) {
}

@media (min-width: 950px) and (max-width: 1024px) {
.section-2{
  margin-top: 20%;
  margin-left: 5rem;
  margin-right: 5rem;
}
.section-2 .copy-right{
  margin-top: 10rem;
}
}

@media (min-width: 1025px) {
  /* SECTION-1 START */
  .section-1 .menu-toggle {
    display: none;
  }

  .section-1 {
    padding: 1rem 2rem;
  }

  .section-1 .menu-bar {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }

  .section-1 .navbar-logo {
    width: 10%;
  }

  .section-1 .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }

  .section-1 .menu-bar ul li {
    padding: 0;
  }

  .section-1 .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }
  /* SECTION-1 END */

  /* SECTION-2 START */
.section-2{
  margin-left: 20rem;
  margin-right: 20rem;
}
  .section-2 .input-fields {
    margin-top: 1.2rem;
  }
  .section-2 .div-1 hr {
    margin-bottom: 0;
  }
  input {
    padding: 0.5rem 1rem;
  }

  .input-fields select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 1rem;
  }
  .section-2 .div-1 button {
    padding: 0.5rem 1rem;
  }
  .section-2 .div-1 p {
    margin-bottom: 1rem;
  }
  
  /* SECTION-2 END */
}
