hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid grey;
}
/* SECTION-1 START */
.section-1 .menu-bar {
  display: none;
}

.section-1 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-1 .navbar-logo {
  width: 8rem;
}

.section-1 .menu-toggle .fa-2x {
  font-size: 1.2rem;
}
/* SECTION-1 END */

#main-div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 18rem 8rem 109rem 1rem;
}
h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

/* SECTION-2 START */
.section-2 {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 0;
}
.section-2 img {
  object-position: 2% 20%;
}
/* SECTION-2 END` */

/* SECTION-3 START */
.section-3 {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding-bottom: 0;
}
.section-3 button {
  margin-bottom: 1rem;
}
.section-3 p {
  padding-top: 1rem;
}
/* SECTION-3 END */

/* SECTION-4 START */
.section-4 {
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px #000000;
}
.section-4 .div-4-0 h2 {
  margin: 1rem 0;
}
.section-4 .div-4-0 .hr-1 {
  margin: 1rem 0;
}
.hr-2 {
  margin: 1rem 2.5rem;
}
.section-4 .div-4-2 p {
  padding: 0 1rem;
}
.section-4 .div-4-1 .p-4-2 {
  margin: 1rem 0;
}
.section-4 .div-4-1 .p-4-3 {
  margin-bottom: 3rem;
}
.section-4 .div-4-1 .span-4-1 {
  font-family: "nexa-bold";
  font-size: 1.3rem;
}
.section-4 .div-4-1 .h2-4-2 {
  margin-bottom: 1rem;
}
.section-4 .div-4-1 .p-4-5 {
  font-family: "nexa-bold";
  color: var(--doctorNameColor);
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.section-4 .button-4-1 {
  margin-bottom: 5rem;
}
.section-4 .div-4-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.7rem 1rem 34rem;
}
.section-4 .div-4-4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 10;
}
.section-4 .div-4-5 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background: linear-gradient(
    180deg,
    rgba(8, 121, 181, 1) 0%,
    rgba(49, 146, 189, 1) 37%,
    rgba(0, 0, 0, 0) 97%
  );
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-4 .div-4-4 span {
  background-color: green;
  border-radius: 3rem;
  width: max-content;
  padding: 0.5rem 2rem;
  display: inline;
  color: white;
}
.section-4 .div-4-5 h3 {
  margin-top: 1rem;
}
.section-4 .div-4-6 p {
  margin-bottom: 1rem;
}
.section-4 .div-4-6 .p-4-7 {
  margin-bottom: 3rem;
}
.section-4 .div-4-5 .h2-4-3 {
  margin-bottom: 1rem;
}
.section-4 .p-4-8 {
  font-family: "nexa-bold";
  color: var(--doctorNameColor);
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.section-4 .span-4-3 {
  font-family: "nexa-bold";
  font-size: 1.3rem;
}
.section-4 .span-4-2 {
  font-size: 1rem;
}
.section-4 .button-4-2 {
  margin-bottom: 3rem;
}
.section-4 .hr-3 {
  margin: 1rem 1.5rem;
}
.section-4 .div-4-7 {
  margin-top: 3rem;
}
.section-4 .div-4-7 .p-4-9 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.section-4 .div-4-7 .p-4-3 {
  margin-bottom: 1rem;
}
/* SECTION-4 END */

/* SECTION-5 START */
.section-5 {
  grid-row-start: 3;
  grid-row-end: 5;
  background: linear-gradient(
    180deg,
    rgba(8, 121, 181, 1) 0%,
    rgba(49, 146, 189, 1) 30%,
    rgba(0, 0, 0, 0) 67%
  );
  z-index: -10;
}
/* SECTION-5 END */

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  grid-column-start: 1;
  grid-column-end: 2;
}

/* SECTION-6 START */
.section-6 {
  text-align: center;
}
.section-6 .rating {
  font-size: 4rem;
  color: var(--doctorNameColor);
  font-family: "nexa-bold";
}
.section-6 .p-6-1 {
  margin-bottom: 3rem;
}
.section-6 .star .fas {
  color: var(--doctorNameColor);
}
.section-6 .star {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-6 .h2-6-1 {
  margin-bottom: 1rem;
}
.section-6 .p-6-2 {
  color: var(--doctorNameColor);
}
.section-6 .outer-bar {
  background-color: grey;
  width: 15rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  margin-left: 1rem;
}
.section-6 .inner-bar {
  background-color: var(--doctorNameColor);
  width: 10rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
}
.section-6 .rating-number {
  font-family: "nexa-bold";
  color: var(--doctorNameColor);
  height: min-content;
}
.section-6 .div-6-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.section-6 .div-6-3 {
  display: flex;
  align-items: center;
  height: 1.2rem;
}
.section-6 .star-4 {
  width: 4rem;
}
.section-6 .star-3 {
  width: 6rem;
}
.section-6 .star-2 {
  width: 4rem;
}
.section-6 .star-1 {
  width: 2rem;
}
.section-6 .div-6-4 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
}
.section-6 .div-6-5 {
  margin-top: 2rem;
}
.section-6 .div-6-5 h3 {
  color: var(--doctorNameColor);
  margin-top: 1rem;
}
.section-6 .div-6-5 p {
  color: var(--doctorNameColor);
  margin-top: 1rem;
}
.section-6 .div-6-6 .fas,
.section-6 .div-6-6 .far {
  font-size: 3rem;
  color: var(--doctorNameColor);
}

/* SECTION-6 END */

/* SECTION-7 START */
.section-7 {
  text-align: center;
}
.section-7 .div-7-1 {
  text-align: center;
}
.section-7 .hr-7-1 {
  height: 5px;
  border: none;
  background-color: var(--doctorNameColor);
  margin-bottom: 1rem;
}
.section-7 .div-7-2 {
  display: flex;
  margin-top: 1rem;
  /* align-items: center; */
}
.section-7 .div-7-3 {
  color: var(--doctorNameColor);
  font-size: 2rem;
}
.section-7 .p-7-2 {
  text-align: left;
  margin-left: 1rem;
}
.section-7 .p-7-1 {
  margin-bottom: 1rem;
}
.section-7 .div-7-3 h3 {
  margin-top: 3rem;
}
.section-7 .div-7-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem 10rem 10rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.section-7 .div-7-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-7 .div-7-5 img {
  object-fit: contain;
  object-position: 50% 50%;
  width: 80%;
}
.section-7 .div-7-4 > div {
  border: 1px solid var(--doctorNameColor);
}

.section-7 .div-7-5.div-7-5-1 {
  border: none;
}
.section-7 .div-7-5.div-7-5-2 {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.section-7 .div-7-5.div-7-5-3 {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.section-7 .div-7-5.div-7-5-4 {
  border-right: none;
  border-bottom: none;
}
.section-7 .div-7-5.div-7-5-5 {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.section-7 .div-7-5.div-7-5-6 {
  border-right: none;
  border-bottom: none;
}

/* SECTION-7 END */
/* SECTION-8 START */
.section-8 {
  text-align: center;
}
.section-8 .div-8-2 {
  display: flex;
  margin-top: 1rem;
  /* align-items: center; */
}
.section-8 .div-8-1.unlimited-consultation {
  margin-top: 0;
}
.section-8 .div-8-3 {
  color: var(--doctorNameColor);
  font-size: 2rem;
}
.section-8 .p-8-2 {
  text-align: left;
  margin-left: 1rem;
}

.section-8 .div-8-3 h3 {
  margin-top: 2rem;
}
.section-8 .div-8-4 {
  margin-top: 2rem;
  box-shadow: 0 0 10px #000000;
  border-radius: 1rem;
  overflow: hidden;
  height: max-content;
}
.section-8 .div-8-4 img {
  display: block;
  height: 15rem;
}
.section-8 .div-8-1 {
  margin-top: 3rem;
}
/* SECTION-8 END */
/* SECTION-9 START */
.section-9 {
  text-align: center;
}
.section-9 .p-9-1 {
  margin-bottom: 3rem;
}
.section-9 .p-9-1 {
  font-family: "nexa-bold";
}
.section-9 .div-9-3 {
  width: 6rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.section-9 .div-9-2 h4 {
  margin-bottom: 2rem;
}
.section-9 .div-9-2 {
  padding: 2rem 1rem;
  box-shadow: 0 0 10px #000000;
}
.section-9 .div-9-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 49% 49%;
  justify-content: center;
  gap: 1rem;
}
.section-9 .slider-9-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.section-9 .slider-9-1 input {
  width: 1rem;
  height: 1rem;
}
/* SECTION-9 END */

/* SECTION-10 START */
.section-10 {
  text-align: center;
  padding-top: 1rem;
}
.section-10 h3 span {
  background-color: var(--doctorNameColor);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.section-10 h3 {
  line-height: 2.5rem;
}
.section-10 .div-10-4 {
  width: 6rem;
}
.section-10 .div-10-3 {
  display: flex;
  margin-top: 2rem;
}
.section-10 .div-10-2 {
  margin-top: 2rem;
  box-shadow: 0 0 10px #000000;
  padding: 1rem;
}
.section-10 .div-10-3 button {
  padding: 0.7rem 0.7rem;
  font-size: 0.8rem;
  background-color: var(--doctorNameColor);
  border-radius: 0.4rem;
  margin-top: 1rem;
}
.section-10 .div-10-5 {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section-10 .p-10-1 {
  text-align: left;
  font-family: "nexa-bold";
}
/* SECTION-10 END */

/* SECTION-11 START */
.section-11 .h3-11-1 {
  margin-bottom: 1rem;
}
.section-11 .no-border-dark-blue-button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section-11 .fas:before {
  font-size: 1.5rem;
  color: var(--enquiryButtonColor);
}
.section-11 .div-11-5 {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
.section-11 .div-11-6 {
  display: flex;
}
.section-11 .div-11-5 h4 {
  color: var(--doctorNameColor);
}
.section-11 .div-11-5 button .fas::before {
  font-size: 1.2rem;
  color: var(--enquiryButtonColor);
}
.section-11 .p-1 {
  background-color: var(--aliceBlue);
  padding: 1rem;
}
.fav-icon {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-hospital-addition-2 {
  margin-bottom: 1rem;
}
.section-11 .fav-icon i {
  width: inherit;
}
.section-11 .arrow-up-down-button i {
  width: inherit;
}
/* SECTION-11 END */

/* FOOTER START */
footer {
  text-align: center;
  bottom: 100rem;
  width: 100%;
}

footer ul li {
  margin-bottom: 1rem;
}

footer img {
  width: 10rem;
  margin-bottom: 1rem;
}

footer i {
  font-size: 1.2rem;
}

footer i {
  margin: 1rem;
}
footer .social-media {
  margin-bottom: 1rem;
}
/* FOOTER END */

@media (min-width: 768px) and (max-width: 1024px) {
  /* SECTION-3 START */
  .section-3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* SECTION-3 END */
  #main-div {
    grid-template-rows: 18rem 8rem 45rem 1rem;
  }
  /* SECTION-4 START */
  .section-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content max-content;
  }
  .section-4 .div-4-0 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .section-4 .div-4-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-4 .div-4-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-4 .div-4-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    bottom: 0.8rem;
  }
  .section-4 .div-4-1.div-4-7 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 2rem;
  }
  .section-4 .div-4-0 .hr-1 {
    margin-bottom: 0;
  }
  .section-4 .div-4-0 p {
    margin-bottom: 2rem;
  }

  .section-4 .button-4-1 {
    margin-bottom: 0;
  }
  .section-4 .button-4-2 {
    margin-bottom: 0;
  }
  .section-4 .tablet-view-2 {
    margin-top: 2rem;
  }
  /* SECTION-4 END */
  /* SECTOIN-6 START */
  .section-6 .tablet-view-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-6 .div-6-1 {
    margin-left: 5rem;
  }
  .section-6 .tablet-view-4 {
    margin-top: 2rem;
  }
  .section-6 .div-6-2.top-bar {
    margin-top: 0;
  }
  .section-6 .div-6-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    column-gap: 0.5rem;
  }
  /* SECTION-6 END */
  /* SECTION-7 START */
  .section-7 .div-7-5 img {
    width: 60%;
  }
  .section-7 .tablet-view-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    margin-top: 2rem;
    column-gap: 1rem;
  }
  .section-7 .div-7-3 h3 {
    margin-top: 0;
  }
  .section-7 .hr-7-1 {
    width: 50%;
  }

  /* SECTION-7 END */
  /* SECTION-8 START */
  .section-8 .tablet-view-6 {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
  }
  .section-8 .div-8-4 {
    margin-top: 0;
  }
  .section-8 .div-8-1.unlimited-consultation {
    margin-left: 1rem;
  }
  .section-8 .tablet-view-7 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-8 .div-8-4 img {
    height: 20rem;
    width: 20rem;
  }
  .section-8 .div-8-1 {
    margin-top: 0;
    margin-right: 1rem;
  }
  .section-8 .tablet-view-6-1 {
    margin-top: 3rem;
    flex-direction: initial;
  }

  /* SECTION-8 END */
  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  /* FOOTER END */
}

@media (min-width: 1025px) {
  /* SECTION-1 START */
  .section-1 .menu-toggle {
    display: none;
  }

  .section-1 {
    padding: 1rem 2rem;
  }

  .section-1 .menu-bar {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }

  .section-1 .navbar-logo {
    width: 10%;
  }

  .section-1 .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }

  .section-1 .menu-bar ul li {
    padding: 0;
  }

  .section-1 .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }
  /* SECTION-1 END */

  /* FOOTER START */
  footer .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo img {
    width: 8rem;
    margin-bottom: 0;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  footer ul li a {
    margin-left: 0.5rem;
  }
  footer .other-services-a {
    word-spacing: 1px;
  }
  footer i {
    margin: 0.3rem;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer .footer-doctor-li a {
    margin: 0;
  }
  footer .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  footer .social-media {
    margin-bottom: 0;
  }
  #footer-base-line {
    width: 100%;
    height: 0.5rem;
    background-color: var(--main-backgroundColor);
  }
  /* FOOTER END */
}
