<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="front-page">
            <!-- TasK02 -->
            <section class="section-1">
                <nav>
                    <div class="navbar">
                        <div class="navbar-logo">
                            <img src="../assets/images/Logo.jpg" alt="logo-jpg" />
                        </div>
                        <div class="menu-bar">
                            <ul>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Hospitals</a></li>
                                <li><a href="#">Treatment</a></li>
                                <li><a href="#">Other Services</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                            <div class="menu-buttons">
                                <button class="login-button">Login / Sign Up</button>
                                <button>Get a Quote</button>
                            </div>
                        </div>
                        <div class="menu-toggle"><i class="fas fa-bars fa-2x"></i></div>
                    </div>
                </nav>
            </section>

            <!-- Task03 -->
            <section class="section-2" id="hospital">
                <div class="section-2-desktop">
                    <div class="section-2-text">
                        <h1>Find Affordable Healthcare</h1>
                        <p>
                            Join thousands of others who have excercised their rights to quality healthcare at a price you can afford
                        </p>
                    </div>
                    <div class="search-section">
                        <div class="search-section-location">
                            <div class="location-icon">
                                <i class="fas fa-map-marker-alt fa-2x i-1"></i>
                            </div>

                            <input class="location" type="text" placeholder="Ahemdabad" />

                            <div class="gps-icon">
                                <img class="gps" src="../assets/images/gps.png" alt="gps-img">
                            </div>
                        </div>
                        <input class="search-for" type="text" placeholder="Search for Doctors, hospitals and treatments" />
                        <button class="search-button">Search</button>
                    </div>
                </div>
            </section>

            <!-- Task04 -->
            <section class="section-3">
                <div class="section-3-text">
                    <h2>How it works</h2>
                    <p>
                        Various facilities are provided here.But there is a protocol which needs to be followed so that you get the services at its best
                    </p>
                </div>
                <ol>
                    <div class="section-3-grid">
                        <div class="grid-1">
                            <li>
                                <a href="#">
                                    <h3 class="fix-consultation"><span>01</span> &nbsp; Fix Consultaion</h3>
                                </a>
                            </li>
                        </div>
                        <div class="grid-2">

                            <div>
                                <li>
                                    <a href="#">
                                        <h3><span>02</span> &nbsp; Upload Medical Reports</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3><span>03</span> &nbsp; Consult with doctor</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3><span>04</span> &nbsp; Fix Surgery</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3><span>05</span> &nbsp; Hospital sent estimates</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3><span>06</span> &nbsp; Payment</h3>
                                    </a>
                                </li>
                                <li id="li-07">
                                    <a href="#">
                                        <h3><span>07</span> &nbsp; Surgery Completed</h3>
                                    </a>
                                </li>
                            </div>
                        </div>
                        <div class="grid-3">
                            <img src="../assets/images/img1.png" alt="img1-png" />

                            <div class="grid-4">
                                <span>Fix Consultaion</span>
                                <p>
                                    This depicts that user will have to fix appointment first when it selects a particular doctor.
                                </p>
                            </div>
                        </div>
                    </div>

                </ol>
            </section>

            <!-- Task05 -->
            <section class="section-4" id="doctor">
                <div class="section-4-text">
                    <h2>World Class Expert Doctors!</h2>
                    <p>
                        The university of Texan Southeastern Medcal center has been a long world-reowned research hospital. But untill the 80's, you couldn't go there. Now with the addition of Aston Center and Zale Lipshy Hospital. UT Southeastern is also a mecca of patients.
                    </p>
                </div>
                <div class="doctor-section">
                    <div class="doctor">
                        <div class="doctor-img">
                            <img src="../assets/images/image--002.jpg" alt="duke-sanson-img" />
                        </div>
                        <hr />
                        <div class="doctor-info">
                            <ol>
                                <li>Duke Sanson</li>
                            </ol>
                            <ul>
                                <li>Neuro Surgeon</li>
                                <li>Chain Department of Neurological Surgery</li>
                                <li>Australia</li>
                            </ul>
                        </div>
                        <div class="bottom-line"></div>
                    </div>

                    <div class="doctor georgea-peter">
                        <div class="doctor-img">
                            <img src="../assets/images/image--004.jpg" alt="georgea-peter-img" />
                        </div>
                        <hr />
                        <div class="doctor-info">
                            <ol>
                                <li>Georgea Peter</li>
                            </ol>
                            <ul>
                                <li>Breast Cancer Surgeon</li>
                                <li>Director UT. Southwest</li>
                                <li>London</li>
                            </ul>
                        </div>
                        <div class="bottom-line"></div>
                    </div>

                    <div class="doctor">
                        <div class="doctor-img">
                            <img src="../assets/images/image--005.jpg" alt="charlie-moon-img" />
                        </div>
                        <hr />
                        <div class="doctor-info">
                            <ol>
                                <li>Charlie Moon</li>
                            </ol>
                            <ul>
                                <li>Cardiac Surgeon</li>
                                <li>MBBS. MD. FRCP. MRCP. Fellowship</li>
                                <li>New Delhi, India</li>
                            </ul>
                        </div>
                        <div class="bottom-line"></div>
                    </div>

                    <div class="doctor">
                        <div class="doctor-img">
                            <img src="../assets/images/image--003.jpg" alt="rose-moon-img" />
                        </div>
                        <hr />
                        <div class="doctor-info">
                            <ol>
                                <li>Rose Moon</li>
                            </ol>
                            <ul>
                                <li>Plastic Surgeon</li>
                                <li>Department of Plastic and Reconstructive Surgery</li>
                                <li>Dubai</li>
                            </ul>
                        </div>
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="slider"></div>
            </section>

            <!-- Task 06 -->
            <section class="section-5" id="treatment">
                <div class="section-5-text">
                    <h2>Featured Medical Treatment</h2>
                    <p>
                        Various facilities are provided here.But there is a protocol which needs to be followed so that you get the services at its best
                    </p>
                </div>
                <div class="treatment">
                    <div class="medical-treatment dentistry">
                        <img src="../assets/images/image--009.jpg" alt="dentistry-img" />
                        <div class="overlay-text">
                            <h4>Dentistry</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>

                    <div class="medical-treatment cancer">
                        <img src="../assets/images/image--010.jpg" alt="cancer-img" />
                        <div class="overlay-text">
                            <h4>Cancer</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>

                    <div class="medical-treatment cardiologic">
                        <img src="../assets/images/image--011.jpg" alt="cardiologic-treatment-img" />
                        <div class="overlay-text">
                            <h4>Cardiologic Treatment</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>

                    <div class="medical-treatment organ">
                        <img src="../assets/images/image--006.jpg" alt="multiple-organ-transplant-img" />
                        <div class="overlay-text">
                            <h4>Multiple Organ Transplant</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>

                    <div class="medical-treatment orthopadics">
                        <img src="../assets/images/image--008.jpg" alt="orthopadics-surgery-img" />
                        <div class="overlay-text">
                            <h4>Orthopadics Surgery</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>

                    <div class="medical-treatment infertility">
                        <img src="../assets/images/image--007.jpg" alt="infertility-treatment-img" />
                        <div class="overlay-text">
                            <h4>Infertility Treatment</h4>
                            <span>50+ Specialists</span>
                        </div>
                    </div>
                </div>
            </section>

            <!-- task-07 -->
            <section class="section-6" id="services">
                <div class="section-6-text">
                    <h2>Exclusive services</h2>
                    <p>
                        We want you to be comfortable and thus apart from threating your illness, we provide you with other services that you can see
                    </p>
                </div>
                <div class="services">
                    <div class="service-img">
                        <img src="../assets/images/Icons-01.png" alt="travel-img" />
                        <h5>TRAVEL</h5>
                    </div>

                    <div class="service-img">
                        <img src="../assets/images/Icons-02.png" alt="travel-img" />
                        <h5>FOOD</h5>
                    </div>

                    <div class="service-img">
                        <img src="../assets/images/Icons-03.png" alt="travel-img" />
                        <h5>ACCOMODATION</h5>
                    </div>

                    <div class="service-img">
                        <img src="../assets/images/Icons-07.png" alt="travel-img" />
                        <h5>LABS</h5>
                    </div>

                    <div class="service-img">
                        <img src="../assets/images/Icons-10.png" alt="travel-img" />
                        <h5>REPORTS</h5>
                    </div>

                    <div class="service-img">
                        <img src="../assets/images/Icons-06.png" alt="travel-img" />
                        <h5>AMBULANCE</h5>
                    </div>
                </div>
            </section>

            <!-- Task-07 -->
            <section class="section-7">
                <div class="section-7-desktop">
                    <div class="section-7-text">
                        <h2>Need Help?</h2>
                        <p>Just let us know, we will be happy to assit you</p>
                    </div>
                    <div class="section-7-button">
                        <button class="enquiryButton">Submit your enquiry</button>
                    </div>
                </div>
            </section>

            <footer>
                <div class="footer-logo">
                    <img src="../assets/images/footer.png" alt="footer-logo-img" />
                    <ul>
                        <li id="footer-doctor-li"><a href="#doctor">Doctor</a></li>
                        <li><a href="#hospital">Hospital</a></li>
                        <li><a href="#treatment">Treatment</a></li>
                        <li><a href="#services">Other Services</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="footer-social-media">
                    <div class="social-media">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                    <p>All Rights Reserved. © tvastra 2018</p>
                </div>

            </footer>
        </div>
    </div>
</body>

</html>