<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="front-page">
        <!-- TasK02 -->
        <section class="section-1">
          <nav>
            <div class="navbar">
              <div class="navbar-logo">
                <img src="../assets/images/Logo.jpg" alt="logo-jpg" />
              </div>
              <div class="menu-toggle"><i class="fas fa-bars fa-2x"></i></div>
            </div>
          </nav>
        </section>

        <!-- Task03 -->
        <section class="section-2">
          <h1>Find Affordable Healthcare</h1>
          <p>
            Join thousands of others who have excercised their rights to quality
            healthcare at a price you can afford
          </p>
          <div class="search-section">
            <div>
              <i class="fas fa-map-marker-alt fa-2x i-1"></i>
              <input class="location" type="text" placeholder="Ahemdabad" />
            </div>
            <input
              class="search-for"
              type="text"
              placeholder="Search for Doctors, hospitals and treatments"
            />
            <button class="search-button">Search</button>
          </div>
        </section>

        <!-- Task04 -->
        <section class="section-3">
          <h2>How it works</h2>
          <p>
            Various facilities are provided here.But there is a protocol which
            needs to be followed so that you get the services at its best
          </p>
          <ol>
            <li><h3 class="fix-consultation">Fix Consultaion</h3></li>
            <div>
              <img src="../assets/images/img1.png" alt="img1-png" />
              <h4>Fix Consultaion</h4>
              <p>
                This depicts that user will have to fix appointment first when
                it selects a particular doctor.
              </p>
            </div>
            <li><h3>Upload Medical Reports</h3></li>
            <li><h3>Consult with doctor</h3></li>
            <li><h3>Fix Surgery</h3></li>
            <li><h3>Hospital sent estimates</h3></li>
            <li><h3>Payment</h3></li>
            <li><h3>Surgery Completed</h3></li>
          </ol>
        </section>

        <!-- Task05 -->
        <section class="section-4">
          <h2>World Class Expert Doctors!</h2>
          <p>
            The university of Texan Southeastern Medcal center has been a long
            world-reowned research hospital. But untill the 80's, you couldn't
            go there. Now with the addition of Aston Center and Zale Lipshy
            Hospital. UT Southeastern is also a mecca of patients.
          </p>
          <div class="doctor">
            <div class="doctor-img">
              <img
                src="../assets/images/image--002.jpg"
                alt="duke-sanson-img"
              />
            </div>
            <hr />
            <div class="doctor-info">
              <ol>
                <li>Duke Sanson</li>
              </ol>
              <ul>
                <li>Neuro Surgeon</li>
                <li>Chain Department of Neurological Surgery</li>
                <li>Australia</li>
              </ul>
            </div>
            <div class="bottom-line"></div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img
                src="../assets/images/image--004.jpg"
                alt="georgea-peter-img"
              />
            </div>
            <hr />
            <div class="doctor-info">
              <ol>
                <li>Georgea Peter</li>
              </ol>
              <ul>
                <li>Breast Cancer Surgeon</li>
                <li>Director UT. Southwest</li>
                <li>London</li>
              </ul>
            </div>
            <div class="bottom-line"></div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img
                src="../assets/images/image--005.jpg"
                alt="charlie-moon-img"
              />
            </div>
            <hr />
            <div class="doctor-info">
              <ol>
                <li>Charlie Moon</li>
              </ol>
              <ul>
                <li>Cardiac Surgeon</li>
                <li>MBBS. MD. FRCP. MRCP. Fellowship</li>
                <li>New Delhi, India</li>
              </ul>
            </div>
            <div class="bottom-line"></div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img src="../assets/images/image--003.jpg" alt="rose-moon-img" />
            </div>
            <hr />
            <div class="doctor-info">
              <ol>
                <li>Rose Moon</li>
              </ol>
              <ul>
                <li>Plastic Surgeon</li>
                <li>Department of Plastic and Reconstructive Surgery</li>
                <li>Dubai</li>
              </ul>
            </div>
            <div class="bottom-line"></div>
          </div>
        </section>

        <!-- Task 06 -->
        <section class="section-5">
          <h2>Featured Medical Treatment</h2>
          <p>
            Various facilities are provided here.But there is a protocol which
            needs to be followed so that you get the services at its best
          </p>
          <div class="medical-treatment">
            <img src="../assets/images/image--009.jpg" alt="dentistry-img" />
            <div class="overlay-text">
              <h4>Dentistry</h4>
              <span>50+ Specialists</span>
            </div>
          </div>

          <div class="medical-treatment">
            <img src="../assets/images/image--010.jpg" alt="cancer-img" />
            <div class="overlay-text">
              <h4>Cancer</h4>
              <span>50+ Specialists</span>
            </div>
          </div>

          <div class="medical-treatment">
            <img
              src="../assets/images/image--011.jpg"
              alt="cardiologic-treatment-img"
            />
            <div class="overlay-text">
              <h4>Cardiologic Treatment</h4>
              <span>50+ Specialists</span>
            </div>
          </div>

          <div class="medical-treatment">
            <img
              src="../assets/images/image--006.jpg"
              alt="multiple-organ-transplant-img"
            />
            <div class="overlay-text">
              <h4>Multiple Organ Transplant</h4>
              <span>50+ Specialists</span>
            </div>
          </div>

          <div class="medical-treatment">
            <img
              src="../assets/images/image--008.jpg"
              alt="orthopadics-surgery-img"
            />
            <div class="overlay-text">
              <h4>Orthopadics Surgery</h4>
              <span>50+ Specialists</span>
            </div>
          </div>

          <div class="medical-treatment">
            <img
              src="../assets/images/image--007.jpg"
              alt="infertility-treatment-img"
            />
            <div class="overlay-text">
              <h4>Infertility Treatment</h4>
              <span>50+ Specialists</span>
            </div>
          </div>
        </section>

        <!-- task-07 -->
        <section class="section-6">
          <h2>Exclusive services</h2>
          <p>
            We want you to be comfortable and thus apart from threating your
            illness, we provide you with other services that you can see
          </p>
          <div class="services">
            <div class="service-img">
              <img src="../assets/images/Icons-01.png" alt="travel-img" />
              <h5>TRAVEL</h5>
            </div>

            <div class="service-img">
              <img src="../assets/images/Icons-02.png" alt="travel-img" />
              <h5>FOOD</h5>
            </div>

            <div class="service-img">
              <img src="../assets/images/Icons-03.png" alt="travel-img" />
              <h5>ACCOMODATION</h5>
            </div>

            <div class="service-img">
              <img src="../assets/images/Icons-07.png" alt="travel-img" />
              <h5>LABS</h5>
            </div>

            <div class="service-img">
              <img src="../assets/images/Icons-10.png" alt="travel-img" />
              <h5>REPORTS</h5>
            </div>

            <div class="service-img">
              <img src="../assets/images/Icons-06.png" alt="travel-img" />
              <h5>AMBULANCE</h5>
            </div>
          </div>
        </section>

        <!-- Task-07 -->
        <section class="section-7">
          <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will be happy to assit you</p>
            <button class="enquiryButton">Submit your enquiry</button>
          </div>
        </section>

        <footer>
          <img src="../assets/images/footer.png" alt="footer-logo-img" />
          <ul>
            <li><a href="#">Doctor</a></li>
            <li><a href="#">Hospital</a></li>
            <li><a href="#">Treatment</a></li>
            <li><a href="#">Other Services</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
            <div class="social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus-g"></i>
              <i class="fab fa-instagram"></i>
            </div>
            <p>All Rights Reserved. © tvastra 2018</p>
          
        </footer>
      </div>
    </div>
  </body>
</html>
