<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>login Page</title>
  </head>
  <body>
    <section class="section-1">
      <nav>
        <div class="navbar">
          <div class="navbar-logo">
            <img src="../assets/images/Logo.jpg" alt="logo-jpg" />
          </div>
          <div class="menu-bar">
            <ul>
              <li><a href="#">Doctors</a></li>
              <li><a href="#">Hospitals</a></li>
              <li><a href="#">Treatment</a></li>
              <li><a href="#">Other Services</a></li>
              <li><a href="#">About</a></li>
            </ul>
            <div class="menu-buttons">
              <button class="login-button">Login / Sign Up</button>
              <button>Get a Quote</button>
            </div>
          </div>
          <div class="menu-toggle"><i class="fas fa-bars fa-2x"></i></div>
        </div>
      </nav>
    </section>
    <section class="section-2">
      <div class="login-div">
        <h2>Login</h2>
        <hr />
        <div class="mobile-number">
          <input
            class="input-box-1"
            type="text"
            placeholder="Enter Mobile Number"
          />
          <div class="questionMarkIcon">
            <i class="fas fa-question-circle"></i>
          </div>
        </div>
        <input type="text" placeholder="Enter OTP" />
        <div>
          <button>LOGIN</button>
          <div class="arrowIcon"></div>
        </div>
        <div class="not-registered-div">
          <p>Not Registered? <span>Sign Up</span></p>
        </div>
      </div>
      <div class="copy-right-div">
      <p class="copy-right">All Rights Reserved &#169; Tvastra 2020</p>
    </div>
    </section>

  </body>
</html>
