<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/reset.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/M-theme.css" />
    <link rel="stylesheet" href="css/M-submityourquery.css" />
    <title>query</title>
  </head>

  <body>
    <div class="flex-div">
      <!-- SECTION-1 START -->
      <section class="section-1">
        <nav class="navbar">
          <div class="navbar-logo">
            <img src=" Logo.jpg" alt="logo-jpg" />
          </div>

          <div class="menu-bar">
            <ul>
              <li><a href="../modified html/M-doctor.html">Doctors</a></li>
              <li><a href="../modified html/M-hospital.html">Hospitals</a></li>
              <li><a href="../modified html/M-dentistry.html">Treatment</a></li>
              <li><a href="#">Other Services</a></li>
              <li><a href="../modified html/M-aboutus.html">About</a></li>
            </ul>
            <div class="menu-buttons">
              <button class="login-button">Login / Sign Up</button>
              <button>Get a Quote</button>
            </div>
          </div>
          <div class="menu-toggle"><i class="fas fa-bars fa-2x"></i></div>
        </nav>
      </section>
      <!-- SECTION-1 END -->

      <section class="section-2">
        <div class="login-div">
          <h2>Submit your query</h2>
          <hr />

          <input class="input-box-1" type="text" placeholder="Enter Name" />
          <input type="text" placeholder="Enter Phone Number" />
          <input type="text" placeholder="Enter Email" />
          <textarea
            name="query"
            id="query"
            cols="30"
            rows="5"
            placeholder="Write your query here"
          ></textarea>
          <div class="div-button">
            <button>SUBMIT</button>
            <div class="arrow-icon">
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </section>
      <div class="copy-right-div">
        <p class="copy-right">All Rights Reserved &#169; Tvastra 2020</p>
      </div>
    </div>
  </body>
</html>
