<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <link rel="stylesheet" href="../assets/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>signUp</title>
  </head>
  <body>
    <section class="section-1">
      <nav class="mobile-nav">
        <img src="../assets/images/Logo.jpg" alt="logo-img" />
        <div class="toggle-icon">
          <i class="fas fa-bars fa-2x"></i>
        </div>
      </nav>
      <nav class="desktop-nav">
        <div class="navbar-logo">
          <img src="../assets/images/Logo.jpg" alt="logo-jpg" />
        </div>
        <div class="menu-bar">
          <ul>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Hospitals</a></li>
            <li><a href="#">Treatment</a></li>
            <li><a href="#">Other Services</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="menu-buttons">
            <button class="login-button">Login / Sign Up</button>
            <button>Get a Quote</button>
          </div>
        </div>
      </nav>
    </section>
    <section class="section-2">
      <div class="div-1">
        <h2>Sign Up</h2>
        <hr />
        <div class="input-fields">
          <input type="text" placeholder="Enter Name" />
          <input type="text" placeholder="Enter Email" />
          <input type="text" placeholder="Enter Password" />
          <select name="gender" id="gender">
            <option value="" disabled selected hidden>
              Select your gender
            </option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <input type="number" placeholder="dd / mm / yyyy" />
          <input type="number" placeholder="Enter Phone Number" />
          <input type="text" placeholder="Enter City" />
          <input type="text" placeholder="Enter State" />
          <select name="country" id="country">
            <option value="" disabled selected hidden>
              Select your country
            </option>
            <option value="male">India</option>
            <option value="female">Pakistan</option>
          </select>
        </div>
        <div class="signup-button-div">
          <button>SIGN UP</button>
          <div class="font-icon-1">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
        <p>Already Registered?<span> Login</span></p>
      </div>

      <div class="div-2">
        <p class="copy-right">All Rights Reserved &#169; Tvastra 2020</p>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </body>
</html>
