/* body {
  width: 100vw;
} */


.tablet-section-a {
  display: none;
}
.nav-2 {
  display: none;
}
.tablet-section-b {
  display: none;
}
.suggestion {
  display: none;
}
section {
  padding: 2rem 3rem;
}
/* section-1 Start */
.section-1 {
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  width: 12rem;
}
.section-1 img {
  height: auto;
  align-self: center;
}
/*section-1 End*/

/*Section-2 Start*/

.doctor-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2 select {
  background-color: #bdc5cc;
  border: none;
  padding: 0.5rem 1rem;
}

option {
  font-size: 1rem;
}
/* Section-2 End*/

/* .section-3 Start */
.doctor {
  border: 1px solid #bdc5cc;
  margin-top: 2rem;
  padding-top: 2rem;
}
.doctor h3 {
  padding: 0 1rem;
  color: #2596be;
}

hr {
  display: inline-flex;
  width: 3.5rem;
  height: 6px;
  text-align: left;
  background-color: #2596be;
  margin: 0;
}
.doctor-name {
  display: flex;
  justify-content: left;
  align-items: center;
}
.doctor-appointment {
  text-align: center;
}
.doctor-appointment button {
  border-radius: 0;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.doctor-image {
  text-align: center;
}
.doctor-image img {
  height: 30rem;
}

.section-3 > div:first-child {
  margin-top: 0;
}
.section-3 > div:last-child {
  margin-bottom: 1rem;
}
.section-3 ul li {
  display: flex;
  margin: 1rem 0;
}
.icon {
  width: 3rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  font-size: 1.7rem;
  color: #2596be;
}
p {
  font-size: 1.7rem;
  line-height: 2rem;
  align-self: center;
  padding: 0 1.5rem;
  margin: 0;
}

section.section-3 div.doctor:last-child {
  margin-bottom: 1rem;
}
/* Section-3 End */
/* Section-4 Start */
.section-4 {
  background-color: var(--main-backgroundColor);
  text-align: center;
}

.section-4 h2 {
  color: var(--white);
}
.enquiryButton {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 2rem;
  border: none;
}
/* Section-4 End */

/* Footer Start */
footer {
  text-align: center;
}
footer img {
  width: 50%;
  margin: 1rem 0;
}
footer h2 {
  color: white;
  font-family: "Cinzel", serif;
  padding: 2rem 0;
}
footer ul {
  padding: 0;
}

footer ul li a {
  font-size: 1.8rem;
}

footer ul li {
  padding: 1rem 0;
}
footer p {
  padding-top: 3rem;
  font-size: 1.5rem;
  color: var(--burgerButtonColor);
}
.tablet-footer {
  display: none;
}
/* Footer End */

@media (min-width: 280px) and (max-width: 767px) {
  body {
    position: absolute;
    overflow: auto;
  }
}

@media (max-width: 450px) {
  section {
    padding: 1rem 1.5rem;
  }
  /* Section-1 Start */
  .section-1 {
    padding: 0.5rem;
  }

  .top-logo {
    width: 9rem;
  }
  .section-1 .fa-2x {
    font-size: 1.5rem;
  }
  /* Section-1 End */
  /* Section-2 Start */
  .section-2 label {
    font-size: 1.3rem;
  }
  .section-2 select {
    padding: 0.5rem 0.2rem;
    font-size: 1.1rem;
  }
  /* Section-2 End */
  /* Section-3 Start */
  .doctor h3 {
    line-height: 1.8rem;
    font-size: 1.5rem;
  }
  .section-3 hr {
    width: 2rem;
  }
  .doctor p {
    font-size: 1.3rem;
    line-height: normal;
    padding: 0 1rem;
  }
  .doctor-appointment button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  .icon {
    width: 2rem;
  }
  .icon i {
    font-size: 1.2rem;
  }

  /* Section-3 End */
  /* Section-4 Start */
  p {
    padding: 0;
  }
  .enquiryButton {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    margin: 2rem 1rem;
  }
  /* Section-4 End */
  /* Footer Start */
  footer img {
    width: 90%;
  }
  /* Footer End */
}

@media (min-width: 768px) and (max-width: 1024px) {
  section {
    padding: 1rem;
  }
  /* Section-1 Start */
  .section-1 {
    padding: 1.5rem;
  }
  nav {
    padding: 0 2rem;
  }
  .top-logo {
    width: 15rem;
  }
  .section-1 .fa-2x {
    font-size: 2.5em;
  }
  /* Sectoin-1 End */

  /* Section-2 Start */
  .section-2 select {
    padding: 1rem;
    font-size: 2rem;
  }
  .section-2 label {
    font-size: 2.3rem;
  }
  /* Section-2 End */

  /* Section-3 Start */
  hr {
    width: 4.5rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  /* Section-3 End */

  /* tablet section a start */
  .section-a-img {
    height: 25rem;
    background-color: var(--main-backgroundColor);
    position: relative;
  }
  .section-a-img img {
    opacity: 0.2;
    object-fit: cover;
    object-position: 50% 100%;
    position: relative;
  }
  .overlay-text {
    position: absolute;
    /* bottom: 10px; */
    top: 17rem;
    z-index: 10;
    padding: 2rem;
    text-align: left;
  }
  .tablet-section-a h2 {
    font-size: 2.5rem;
  }
  .tablet-section-a h2 span {
    font-family: "nexa-light";
    font-size: 2.5rem;
  }
  .tablet-section-a h2 u {
    text-decoration: none;
    border-bottom: 1px solid var(--textColor);
  }
  .tablet-section-a {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  /* tablet section a end */

  /* Tablet-Section-b Start */
  .tablet-section-b {
    display: block;
    width: 35%;
  }
  .tablet-section-b ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tablet-section-b ul li input {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    margin: 0;
    /* box-shadow: 1px 1px 2px 2.5px #ccc; */
  }

  .tablet-section-b h5 {
    font-size: 2rem;
    font-family: "nexa-bold";
  }
  .tablet-section-b .div-1 {
    background-color: #bdc5cc;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  .tablet-section-b .div-2 {
    display: flex;
    justify-content: space-between;
  }
  .tablet-section-b .div-2 label {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .tablet-section-b .div-2 i {
    font-size: 1.5rem;
  }
  .tablet-section-b .div-2 hr {
    width: 2rem;
    height: 0.4rem;
    margin-left: 0.5rem;
  }
  .tablet-section-b .div-4 {
    display: flex;
    flex-direction: column;
  }
  .tablet-section-b ul li label {
    font-size: 1.5rem;
    font-family: "nexa-light";
    margin-left: 1.5rem;
    /* margin-right: 0; */
  }
  .filter-by-location {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .tablet-section-b ul {
    padding: 2rem 0;
    margin: 0;
  }
  .tablet-section-b .bottom-line {
    width: 100%;
    height: 2px;
    color: #bdc5cc;
  }
  .tablet-section-b .div-3 {
    display: flex;
    align-items: center;
  }
  /* Tablet-Section-b End */

  #main-section {
    display: flex;
  }
  /* Section-3 Start */
  .doctor .doctor-image img {
    height: 30rem;
    /* width: 15rem; */
  }
  .doctor {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .section-3 ul li {
    margin: 0.5rem 0;
    padding: 0;
  }
  .section-3 .doctor .doctor-name hr {
    width: 3rem;
    height: 5px;
  }
  .doctor {
    padding-top: 0;
  }
  .doctor h3 {
    margin-bottom: 0;
  }
  .doctor-name {
    margin: 1rem 0;
  }
  .doctor-list {
    padding: 0 1rem;
  }
  .section-3 .main-div ul {
    padding-left: 0;
    margin-left: 2.5rem;
  }
  .section-3 .main-div ul li p {
    font-size: 1.5rem;
    margin: 0;
  }
  .section-3 .main-div ul li {
    margin: 1rem;
  }
  .section-3 .doctor-appointment {
    margin: 3rem 0;
  }
  /* Section-3 End */
  /* Footer Start */
  .mobile-footer {
    display: none;
  }
  .tablet-footer {
    display: block;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .footer-logo img {
    width: 15rem;
  }
  .footer-logo ul li {
    padding: 0.6rem;
  }
  footer ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  footer ul a {
    font-size: 1.6rem;
  }
  .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .footer-social-media i {
    padding: 1rem 0.4rem;
  }
  .footer-logo img {
    width: 11rem;
  }
  .footer-logo ul li {
    padding: 0.8rem;
  }
  footer i {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 1.2rem;
    padding: 1rem 0;
    margin: 0;
  }
  footer ul a {
    font-size: 1.2rem;
  }
  #footer-doctor-li {
    padding-left: 0;
  }
  footer ul li a {
    font-size: 1.5rem;
  }
  #footer-base-line {
    width: 100%;
    height: 1rem;
    background-color: var(--main-backgroundColor);
  }
  /* Footer End */
}

@media (min-width: 768px) and (max-width: 950px) {
  /* Section-1 Start */
  .section-1 {
    padding: 1rem;
  }
  .top-logo {
    width: 10rem;
  }
  .section-1 .fa-2x {
    font-size: 2em;
  }
  /* Section-1 End */
  /* Tablet Section a Start */
  .tablet-section-a {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .tablet-section-a h2 {
    margin: 0;
  }
  .overlay-text {
    top: 14rem;
  }
  /* Tablet Section a End */
  /* Section-2 Start */
  .section-2 label {
    font-size: 2rem;
  }
  .doctor-list {
    padding: 0;
  }
  .section-2 select {
    padding: 0.6rem 1rem;
  }
  /* Section-2 Start */
  /* Section-3 Start */
  .section-3 {
    margin-left: 0.5rem;
    padding: 0;
  }
  .doctor-name {
    margin: 0.5rem 0;
  }
  .doctor h3 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  .section-3 .main-div ul {
    margin-left: 0.5rem;
  }
  .section-3 .main-div ul li {
    margin: 1rem 0;
  }
  .section-3 .main-div ul li p {
    padding: 0 0.7rem;
  }
  .section-3 .doctor-appointment {
    margin: 0;
  }
  .doctor-appointment button {
    margin: 0;
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    margin: 2rem 0;
  }
  .doctor .doctor-image img {
    height: 100%;
  }
  /* Section-3 End */
  /* Section-4 Start*/
  .enquiryButton {
    font-size: 1.5rem;
    margin: 1rem;
  }
  /*Section-4 End */

  /* Tablet Section b Start */
  .tablet-section-b {
    padding: 0;
    margin-right: 0.5rem;
  }
  .tablet-section-b h5 {
    font-size: 1.5rem;
    margin: 0;
  }
  .filter-by-location {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .tablet-section-b .div-1 {
    padding: 1rem;
  }
  .tablet-section-b .div-2 label {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
  .tablet-section-b ul {
    padding: 1rem 0;
  }
  .tablet-section-b ul li {
    margin: 0.5rem 0;
  }
  /* Tablet Section b End */
  /* Footer Start */
  footer ul li a {
    font-size: 1.2rem;
  }
  .footer-logo ul li {
    padding: 0.5rem;
  }
  .footer-logo img {
    width: 8rem;
  }
  .footer-social-media i {
    padding: 1rem 0.2rem;
  }
  /* Footer End */
}

@media (min-width: 1025px) {
  section {
    padding: 1rem 2rem;
  }
  /* Nav Bar / Section-1 */
  .nav-1 {
    display: none;
  }
  .section-1 {
    padding: 1.5rem 3rem;
    padding-bottom: 0;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-2 .menu-bar ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav-2 ul li a {
    font-size: 0.9rem;
  }
  .nav-2 .menu-buttons button {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }

  .nav-2 {
    display: block;
  }

  .nav-2 .menu-bar {
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: space-between;
  }
  .nav-2 .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .nav-2 .menu-bar ul li {
    display: flex;
  }
  .navbar-logo {
    width: 10%;
  }
  .nav-2 .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }
  /* Nav Bar / Section-1 */

  /* Tablet Section a Start */
  .section-a-img {
    height: 20rem;
    background-color: var(--main-backgroundColor);
    position: relative;
  }
  .section-a-img img {
    opacity: 0.2;
    object-fit: cover;
    object-position: 50% 30%;
    position: relative;
  }
  .overlay-text {
    position: absolute;
    /* bottom: 10px; */
    top: 14.5rem;
    z-index: 10;
    padding: 0 5rem;
    text-align: left;
  }
  .tablet-section-a h2 {
    font-size: 2rem;
    margin: 0;
  }
  .tablet-section-a h2 span {
    font-family: "nexa-light";
    font-size: 2.5rem;
  }
  .tablet-section-a h2 u {
    text-decoration: none;
    border-bottom: 1px solid var(--textColor);
  }
  .tablet-section-a {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  /* Tablet Section a End */
  /* Section-2 Start */
  .section-2 .doctor-list label {
    font-size: 1.2rem;
  }
  .section-2 .doctor-list label select {
    font-size: 1.2rem;
  }
  .section-2 {
    padding: 1rem 4rem;
    padding-bottom: 0;
  }
  /* Section-2 End */
  /* ...............................coiped from tablet */

  /* Section-3 Start */
  hr {
    width: 4.5rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  /* Section-3 End */

  /* Tablet-Section-b Start */
  .tablet-section-b {
    display: block;
    width: 60%;
    padding-right: 1rem;
  }
  .tablet-section-b ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tablet-section-b ul li input {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    margin: 0;
    /* box-shadow: 1px 1px 2px 2.5px #ccc; */
  }
  .tablet-section-b ul li input:checked + label:before {
    background: black;
  }
  .tablet-section-b h5 {
    font-size: 1rem;
    font-family: "nexa-bold";
    margin: 0;
  }
  .tablet-section-b .div-1 {
    background-color: #bdc5cc;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .tablet-section-b .div-2 {
    display: flex;
    justify-content: space-between;
  }
  .tablet-section-b .div-2 label {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .tablet-section-b .div-2 i {
    font-size: 1rem;
  }
  .tablet-section-b .div-2 hr {
    width: 1rem;
    height: 0.4rem;
  }
  .tablet-section-b .div-4 {
    display: flex;
    flex-direction: column;
  }
  .tablet-section-b ul li label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-family: "nexa-light";
    margin-left: 1.5rem;
    /* margin-right: 0; */
  }
  .tablet-section-b ul li div {
    display: flex;
    align-items: center;
  }
  .filter-by-location {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .tablet-section-b ul {
    padding: 1rem 0;
    margin: 0;
  }
  .tablet-section-b .bottom-line {
    width: 100%;
    height: 1px;
    background-color: #464748;
  }
  .tablet-section-b .div-3 {
    display: flex;
    align-items: center;
    width: 5rem;
    justify-content: space-between;
  }
  .tablet-section-b .div-4 a {
    font-size: 0.9rem;
    font-family: "nexa-bold";
    color: var(--main-backgroundColor);
  }
  .tablet-section-b .suggestion {
    display: block;
  }
  .tablet-section-b .suggestion ul {
    padding-bottom: 00.5rem;
  }
  .tablet-section-b .suggestion ul li {
    font-size: 0.7rem;
    display: inline-block;
    width: max-content;
    align-items: center;
    font-family: "nexa-bold";
    border: 1px solid;
    margin: 0.3rem;
    border-radius: 2rem;
    min-width: 4rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .tablet-section-b .suggestion ul li button {
    font-size: 0.7rem;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    padding-left: 1rem;
    color: var(--main-backgroundColor);
  }

  /* Tablet-Section-b End */

  #main-section {
    display: flex;
    padding: 1rem 3rem;
  }
  /* Section-3 Start */
  .doctor .doctor-image img {
    height: 20rem;
    /* width: 15rem; */
  }
  .doctor {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .section-3 ul li {
    margin: 0.5rem 0;
    padding: 0;
  }
  .section-3 .doctor .doctor-name hr {
    width: 3rem;
    height: 2px;
  }
  .doctor {
    padding-top: 0;
  }
  .doctor h3 {
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .doctor-name {
    margin: 1rem 0;
  }
  .doctor-list {
    padding: 0 1rem;
  }
  .section-3 .main-div ul {
    padding-left: 0;
    margin-left: 3.5rem;
  }
  .section-3 .main-div ul li p {
    font-size: 0.9rem;
    padding: 0 1rem;
    margin: 0;
    display: inline-block;
  }
  .section-3 .main-div ul li {
    margin: 0.5rem;
    display: inline-block;
    width: 13rem;
  }
  .section-3 .doctor-appointment {
    margin: 0;
    margin-left: 4rem;
    text-align: left;
  }
  .doctor-appointment button {
    font-size: 0.9rem;
    padding: 0.7rem 2rem;
  }
  .section-3 .doctor ul .icon i {
    font-size: 1.2rem;
  }
  .section-3 .doctor ul .icon {
    width: max-content;
    display: inline-block;
  }

  /* Section-3 End */
  /* Section-4 Start */
  .section-4 {
    padding: 3rem 5rem;
  }
  .need-help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }
  .need-help div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .section-4 h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  .section-4 p {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  .section-4 button {
    margin: 0;
    font-size: 0.9rem;
    padding: 1rem;
    /* margin: 2rem 0; */
    border-radius: 0;
  }
  /* Section-4 End */
  /* Footer Start */
  .mobile-footer {
    display: none;
  }
  .tablet-footer {
    display: block;
  }
  footer i,
  footer a,
  footer p {
    color: var(--textColor);
  }
  .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .footer-logo img {
    width: 15rem;
  }
  .footer-logo ul li {
    padding: 0.6rem;
  }
  footer ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  footer ul a {
    font-size: 1.6rem;
  }
  .footer-social-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .footer-social-media i {
    padding: 1rem 0.4rem;
    padding-top: 0;
  }
  .footer-logo img {
    width: 8rem;
  }
  .footer-logo ul li {
    padding: 0.8rem;
  }
  footer i {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.9rem;
    padding: 1rem 0;
    margin: 0;
    padding-top: 0;
  }
  footer ul a {
    font-size: 1.2rem;
  }
  #footer-doctor-li {
    padding-left: 0;
  }
  footer ul li a {
    font-size: 0.9rem;
  }
  #footer-base-line {
    width: 100%;
    height: 1rem;
    background-color: var(--main-backgroundColor);
  }
  /* Footer End */
}
