/* For less than 767px */
/* section-1 start */
/* html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
} */
body{
  overflow-y: scroll;
}



.menu-bar {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: inherit;
  /* height: inherit; */
}

.navbar-logo {
  width: 10rem;
}

/* section-1 end */

/* section-2 start */
.section-2 {
  background-color: var(--main-backgroundColor);
  text-align: center;
  display: grid;
  align-items: center;
  padding: 9.3rem 3rem;
  padding-bottom: 2rem;
}

.login-div {
  background-color: var(--white);
  padding: 0;
}

.section-2 .login-div hr {
  border: none;
  border-top: solid 1px grey;
  margin-bottom: 2rem;
}

.section-2 .login-div h2 {
  margin: 2rem;
  padding: 0;
  color: var(--main-backgroundColor);
  font-size: 2.5rem;
}

.section-2 .login-div input {
  margin: 0.5rem 0;
  width: 85%;
  border: solid 1px grey;
  padding: 1.5rem 1rem;
}

.section-2 .login-div button {
  width: 85%;
  border-radius: 0;
  padding: 1.5rem 0.5rem;
  letter-spacing: 0.3em;
  margin: 1rem;
  font-size: 2rem;
}

.mobile-number {
  display: flex;
  justify-content: center;
  width: 85%;
  text-align: center;
  margin-left: 7.5%;
}

.section-2 .login-div .mobile-number input {
  border-right: none;
  width: 90%;
}

.section-2 .login-div .mobile-number .fas {
  font-size: 2em;
  width: inherit;
  opacity: 0.5;
}

.section-2 .login-div .mobile-number .questionMarkIcon {
  border: solid 1px grey;
  border-left: none;
  margin: 0.5rem 0;
  display: grid;
  align-items: center;
  justify-content: right;
  padding-right: 1rem;
  width: 10%;
}

.section-2 .not-registered-div {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-2 .not-registered-div p {
  font-size: 1.5rem;
}

.section-2 .login-div .not-registered-div span {
  font-size: 1.5rem;
  font-family: "nexa-bold";
  color: var(--main-backgroundColor);
}

.section-2 .copy-right {
  font-family: "nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 7.4rem;
}

/* section-2 end */

@media (max-width: 415px) {
  section {
    padding: 1rem;
  }
  .navbar-logo {
    width: 7rem;
  }
  .menu-toggle i.fa-2x {
    font-size: 1.2rem;
  }
  .section-2 .login-div h2 {
    margin: 1rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .section-2 .login-div hr {
    margin-bottom: 1.5rem;
  }
  .section-2 .login-div input {
    padding: 0.5rem;
  }
  .section-2 .login-div .mobile-number .questionMarkIcon {
    padding-right: 0.5rem;
  }
  .section-2 .login-div .mobile-number .fas {
    font-size: 1.5em;
  }
  ::placeholder {
    font-size: 0.8rem;
    transform: translate3d(0, -4px, 0);
  }
  .section-2 .login-div button {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .section-2 .not-registered-div p {
    font-size: 0.8rem;
  }
  .section-2 .login-div .not-registered-div span {
    font-size: 0.8rem;
  }
  .section-2 .copy-right {
    font-size: 1.1rem;
  }
}

/* For Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
  .section-1{
    min-height: 5vh;
  }
  .section-2 {
    min-height: 95vh;
  }
  /* .section-2{
    height: 100vh;
  } */
  section {
    padding: 1rem;
  }
  .navbar-logo {
    width: 7rem;
  }
  .menu-toggle i.fa-2x{
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 1.5rem;
  }
  .section-2 .copy-right {
    font-size: 1.3rem;
  }
  .section-2 {
    padding: 9.3rem 5rem;
    padding-bottom: 2rem;
  }
  .section-2 .copy-right {
    margin-top: 10.4rem;
  }
}
@media (min-width: 950px) and (max-width: 1024px) {
  .section-1{
    min-height: 5vh;
  }
  .section-2 {
    min-height: 95vh;
  }
  .section-2 {
    padding: 20rem 10rem;
    padding-bottom: 5rem;
  }
  .section-2 .copy-right {
    margin-top: 18rem;
  }
  .section-2 .copy-right {
    font-size: 1.5rem;
  }
}

/* For Desktop View */
@media (min-width: 1025px) {
  section {
    padding: 1rem 5rem;
  }
  .section-1 {
    padding: 1rem 5rem;
  }
  .menu-toggle {
    display: none;
  }
  .menu-bar {
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: space-between;
  }
  .menu-bar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .menu-bar ul li {
    display: flex;
  }
  .navbar-logo {
    width: 7rem;
  }
  .navbar a {
    font-size: 0.9rem;
  }
  .menu-buttons button {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }
  .menu-buttons .login-button {
    background-color: var(--white);
    color: var(--textColor);
  }

  /* Section-2 Start */
  .section-2 {
    padding: 7rem 30rem;
    padding-bottom: 1rem;
  }

  .section-2 .login-div h2 {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .section-2 .login-div input {
    padding: 0.7rem;
    margin: 0.3rem 0;
  }
  ::placeholder {
    font-size: 0.8rem;
  }
  .section-2 .login-div .mobile-number .questionMarkIcon {
    padding-right: 0.5rem;
  }
  .section-2 .login-div .mobile-number .fas {
    font-size: 1.5em;
  }
  .section-2 .login-div button {
    padding: 1rem 0.5rem;
    font-size: 1rem;
    margin: 0.3rem;
  }
  .section-2 .not-registered-div p {
    font-size: 0.8rem;
  }
  .section-2 .login-div .not-registered-div span {
    font-size: 0.8rem;
  }
  .section-2 .login-div .mobile-number .questionMarkIcon {
    margin: 0.3rem 0;
  }
  .section-2 .copy-right {
    font-size: 0.9rem;
    margin-top: 5.4rem;
  }
  .section-2 .login-div .mobile-number .fas {
    font-size: 1em;
  }
  .section-2 .login-div hr {
    margin-bottom: 1rem;
  }
  .section-2 .not-registered-div {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  /* Section-2 End */
}

@media (min-width: 1025px) and (max-width: 1250px) {
  .section-2 {
    padding: 7rem 20rem;
  }
}
