body {
    min-height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
section {
  padding: 4rem 1.5rem;
}
.desktop-nav {
  display: none;
}

/* Section-1 Start */
.section-1 {
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav img {
  width: 16%;
}
.mobile-nav i.fa-2x {
  font-size: 1.2rem;
}
/* Section-1 End */
/* Section-2 Start */
.section-2 {
  background-color: var(--main-backgroundColor);
  text-align: center;
  padding-bottom: 1.5rem;
}
.section-2 .div-1 {
  background-color: var(--white);
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 0 0 10px #000000;
  margin-bottom: 4rem;
}
.section-2 .div-1 h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
.section-2 .div-1 hr {
  border: none;
  border-top: 1px solid gray;
  margin: 0;
  margin-bottom: 2rem;
}

.section-2 .input-fields {
  text-align: center;
  row-gap: 0.7rem;
  column-gap: 0.5rem;
  margin: 2rem;
  margin-bottom: 0.7rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
input {
  padding: 1rem;
  border: 1px solid rgb(207, 199, 199);
  font-size: 1rem;
}
::placeholder {
  font-size: 1rem;
  /* transform: translate3d(0, -4px, 0); */
}
.input-fields select {
  font-size: 1rem;
  opacity: 0.8;
  padding: 0.5rem;
  border: 1px solid rgb(207, 199, 199);
}
.input-fields select option {
  font-size: 1rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
select:invalid {
  color: lightgray;
  text-shadow: 1px 1px lightgray;
}
.input-fields > input:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > select:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.input-fields > input:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.input-fields > input:nth-child(8) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.input-fields > select:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.signup-button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-2 .div-1 button {
  width: 90%;
  letter-spacing: 0.4rem;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  margin-right: 0;
  border-radius: 0;
}
.section-2 .div-1 .font-icon-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-left: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  background-color: var(--searchButtonColor);
}
.section-2 .div-1 .font-icon-1 i {
  color: white;
  font-size: 1.3rem;
}
.section-2 p {
  font-family: "nexa-bold";
  font-size: 1rem;
  color: grey;
}
.section-2 p span {
  font-family: "nexa-bold";
  font-size: 1rem;
  color: var(--main-backgroundColor);
}
.div-2 p.copy-right {
  color: var(--textColor);
}
/* Section-2 End */

/* Mobile Views Start */
@media (min-width: 360px) and (max-width: 450px) {
  .mobile-nav img {
    width: 30%;
  }
  .section-2 .div-1 .font-icon-1 {
    padding-right: 0.5rem;
  }
  .section-2 .div-1 button {
    font-size: 1.5rem;
  }
}
/* Mobile Views End */
/* Tablet View Start*/
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-nav img {
    width: 22%;
  }
  .mobile-nav i.fa-2x {
    font-size: 2.2rem;
  }
  .section-2 .div-1 h2 {
    font-size: 2.5rem;
    padding: 2rem 0;
  }
  .section-2 .div-1 hr {
    margin-bottom: 3rem;
  }
  .input-fields select {
    font-size: 1.7rem;
    padding: 1.5rem 1rem;
  }
  input {
    padding: 1.5rem 1rem;
    font-size: 1.7rem;
  }
  ::placeholder {
    font-size: 1.7rem;
  }
  .section-2 .input-fields {
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
  .section-2 p {
    font-size: 1.5rem;
  }
  .section-2 p span {
    font-size: 1.5rem;
  }
}
/* Tablet View End */

/* Desktop View Start */
@media (min-width: 1025px) {
  section {
    padding: 10rem 24.5rem;
  }
  .section-1 {
    padding: 1rem 2rem;
}
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }
  .navbar-logo {
    width: 8rem;
  }
  .menu-bar {
    display: flex;
    width: 68%;
    justify-content: space-between;
  }
  .menu-bar ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .menu-bar ul li a {
    font-size: 0.9rem;
  }
  .menu-barv .menu-buttons button {
    padding: 0.5rem 1rem;
  }
  /* Section-2 Start */
  .section-2 .div-1 h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-2 .input-fields {
    margin-top: 1.2rem;
  }
  .section-2 .div-1 hr {
    margin-bottom: 0;
  }
  input {
    padding: 0.5rem 1rem;
  }
  ::placeholder {
    font-size: 0.9rem;
  }
  .input-fields select {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  .section-2 .div-1 button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .section-2 p {
    font-size: 0.9rem;
  }
  .section-2 p span {
    font-size: 0.9rem;
  }
}
/* Desktop View End */
