/* section-1 start */

.menu-bar {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 25%;
}


/* section-1 end */


/* section-2 start */

.section-2 {
    background-color: var(--main-backgroundColor);
    text-align: center;
}

.search-button {
    border-radius: 0;
    margin: 1.5rem;
}

.section-2 p {
    padding-bottom: 2rem;
}

.search-section input {
    margin: 0.4rem;
}

.i-1 {
    position: absolute;
    top: 39rem;
    left: 3rem;
}

.search-section img {
    width: 2rem;
}

.location {
    padding-left: 3rem;
    padding-right: 3rem;
    /* background-image: url(../images/gps.png);*/
    /* background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 41rem 2rem; */
}

.search-section-location .gps {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 39rem;
    left: 35rem;
}


/* section-2 end*/


/* section-3 start */

.section-3-grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.section-3-grid .grid-3 img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.section-3-grid .grid-3 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.section-3 {
    text-align: center;
}

.section-3 h2 {
    padding-bottom: 2rem;
}

.section-3 p {
    padding: 0 1rem;
}

.section-3 ol {
    padding: 2rem;
}

.section-3 ol li {
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid var(--borderColor);
    border-radius: 1rem;
    font-size: 2rem;
    font-family: "nexa-bold";
    line-height: 2.5rem;
    text-align: left;
}

.section-3 ol li h3 {
    opacity: 0.3;
}

.section-3 .fix-consultation {
    opacity: 1;
}

.section-3 h4 {
    padding: 1rem;
}

.section-3 img {
    padding: 1rem 0;
    align-items: center;
}


/* section-3 Task-04 End */


/* section-4 Task-05 Start*/

.section-4 {
    background-color: var(--coloredSectionColor);
    text-align: center;
}

.section-4 h2 {
    color: var(--white);
    padding-bottom: 2rem;
}

.section-4 p {
    color: var(--white);
    padding: 0 1rem;
}

.doctor {
    background-color: var(--white);
    margin: 2rem 0;
}

hr {
    border-width: 1.5px;
    width: 3.5rem;
    position: absolute;
    align-self: left;
    border-color: var(--doctorNameColor);
}

.doctor-img {
    padding-bottom: 2rem;
}

.doctor-info {
    padding: 0 4rem;
    text-align: left;
}

.doctor-info ol li {
    font-family: "nexa-bold";
    font-size: 2rem;
    color: var(--doctorNameColor);
    position: relative;
    bottom: 0.5rem;
}

.doctor-info ul {
    padding: 1rem 0;
}

.bottom-line {
    height: 0.5rem;
    width: 100%;
    background-color: var(--main-backgroundColor);
}


/* section-4 Task-05 End*/


/* section-5 Task-06 Start */

.section-5 {
    text-align: center;
}

.section-5 h2 {
    padding-bottom: 2rem;
}

.section-5 p {
    padding: 0 1rem;
}

.medical-treatment {
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
    position: relative;
}

.medical-treatment::after {
    content: "";
    position: absolute;
    top: 0;
    /* bottom: 100%; */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 180deg, rgba(1, 0, 5, 0.01724439775910369) 0%, rgba(18, 10, 18, 0.3981967787114846) 64%, rgba(0, 0, 0, 0.8239670868347339) 94%);
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    padding: 2rem;
    text-align: left;
}

.overlay-text h4 {
    color: var(--white);
}

.overlay-text span {
    color: var(--white);
}


/* Section-5 Task-6 End */


/* section-6 task-07 start */

.section-6 {
    background-color: var(--section6BackgroundColor);
    text-align: center;
}

.section-6 h2 {
    padding-bottom: 2rem;
}

.section-6 p {
    padding: 0 1rem;
}

.service-img img {
    width: 80%;
    height: 70%;
    padding: 2rem;
}

.service-img h5 {
    height: 30%;
}

.service-img {
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--white);
}

.services {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 20rem);
    gap: 2rem;
}


/* section-6 task-07 end */


/* section-7 task-08 start */

.section-7 {
    background-color: var(--main-backgroundColor);
    text-align: center;
}

.section-7 h2 {
    color: var(--white);
    padding-bottom: 2rem;
}

.section-7 p {
    padding: 0 1rem;
}

.enquiryButton {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    margin: 2rem;
}


/* section-7 task-08 end */


/* footer task-09 start */

footer {
    text-align: center;
}

footer img,
footer p,
footer ul li {
    padding: 1rem;
}

footer img {
    width: 45%;
}

footer i,
footer a {
    font-family: "Mulish", sans-serif;
    font-size: 1.8rem;
}

footer p {
    font-size: 1.5rem;
}

footer i {
    padding: 1rem 2rem;
}


/* footer task-09 End */


/* MEDIA QUERRY */


/* For all mobile screens */

@media (min-width: 280px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    /* Section-1-Start */
    .navbar-logo {
        width: 40%;
    }
    .section-1 .menu-toggle .fa-2x {
        font-size: 2em;
    }
    /* Section-1-End */
    /* Section-2 Start */
    .i-1 {
        top: 39rem;
        left: 2.7rem;
    }
    .location {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* Section-2 End */
    /* Section-3 Start */
    .fix-consultation span {
        font-family: "nexa-bold";
        font-size: 2.5rem;
    }
    .grid-2 li a h3 span {
        font-family: "nexa-bold";
        font-size: 2.5rem;
    }
    .section-3-grid .grid-3 img {
        width: 90%;
        height: 65%;
    }
    /* Section-3 End */
    /* Section-6 Start */
    .services {
        grid-template-columns: repeat(2, 18rem);
        grid-template-rows: repeat(3, 16rem);
        gap: 1rem;
    }
    /* Section-6 End */
    /* Footer Start */
    footer img {
        width: 55%;
    }
    /* Footer End */
}

@media screen and (min-width:624px) and (max-width:767px) {
    .location {
        background-position: 41rem 2rem;
    }
    .i-1 {
        top: 33.5rem;
        left: 2.7rem;
    }
    .search-section-location .gps {
        top: 33.5rem;
        left: 44rem;
    }
    .section-3-grid .grid-3 img {
        width: 69%;
        height: 69%;
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    .service-img img {
        width: 55%;
        padding: 0;
    }
}


/* Tablet View */

@media (min-width: 768px) and (max-width: 1024px) {
    /* section-1 Start*/
    .menu-bar {
        display: none;
    }
    .fa-2x {
        font-size: 1.4em;
    }
    .i-1 {
        top: 21.3rem;
    }
    /* section-1 End*/
    /* section-2 Start*/
    .section-2 p {
        padding: 0rem 1rem 1rem;
    }
    .search-section input {
        margin: 0rem;
    }
    .search-button {
        margin: 0rem;
    }
    .location {
        height: 100%;
        width: 100%;
        /* background-size: 1.2rem;
        background-position: 18rem; */
    }
    .search-section-location .gps {
        width: 1.4rem;
        height: 1.4rem;
        top: 21.1rem;
        left: 14rem;
    }
    .search-for {
        width: 75%;
    }
    .search-section {
        display: flex;
        padding: 1rem 0 2rem 0;
    }
    /* section-2 End*/
    /* section-3 Start */
    .section-3-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (2, 1fr);
        column-gap: 1rem;
    }
    .section-3-grid .grid-2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .section-3-grid .grid-3 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .section-3-grid .grid-3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .section-3-grid .grid-3 img {
        width: 25rem;
        height: 28rem;
        object-fit: cover;
    }
    .section-3 ol {
        padding: 0;
        margin-top: 2rem;
    }
    .section-3 ol li {
        border-radius: 0;
    }
    .section-3-grid .grid-1 li {
        margin: 0;
    }
    /* section-3 End  */
    /* Section-4 Start */
    .doctor-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50rem);
        gap: 1.5rem;
        margin: 2rem 0;
    }
    .doctor {
        margin: 0;
    }
    .doctor-img {
        height: 75%
    }
    .doctor-info {
        height: 24%;
    }
    .bottom-line {
        height: 1%;
    }
    /* Section-4 End */
    /* Section-5 Start */
    .treatment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.5rem;
        margin: 2rem 0;
    }
    .medical-treatment {
        margin: 0;
        height: 30rem;
    }
    /* Section-5 End */
    /* Section-6 Start */
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    /* Section-6 End */
    /* Section-7 Start */
    .enquiryButton {
        font-size: 1.6rem;
    }
    /* Section-7 End */
    /* Footer Start */
    footer i,
    footer a,
    footer p {
        color: var(--textColor);
    }
    .footer-logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .footer-logo img {
        width: 15rem;
    }
    .footer-logo ul li {
        padding: 0.6rem;
    }
    footer ul {
        display: flex;
    }
    footer ul a {
        font-size: 1.6rem;
    }
    .footer-social-media {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footer-social-media i {
        padding: 1rem 0.4rem;
    }
    /* Footer End */
}

@media (min-width: 768px) and (max-width:810px) {
    /* Section-3 Start */
    .section-3-grid .grid-3 img {
        width: 18rem;
        height: 21rem;
    }
    .section-3 ol li {
        padding: 1.5rem 1rem;
    }
    h3 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    h4 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .section-3 ol span {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    /* Section-3 End */
    /* Section-4 Start */
    .doctor-section {
        grid-template-rows: repeat(2, 35rem);
        gap: 1rem;
    }
    .doctor-info ol li {
        font-size: 1.5rem;
    }
    .doctor-info ul li {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .doctor-info ul {
        padding: 0.5rem 0;
    }
    /* Section-4 End */
    /* Section-5 start */
    .treatment {
        gap: 1rem;
    }
    /* Section-5 End */
    /* Section-6 Start */
    .services {
        gap: 1rem;
    }
    .service-img img {
        padding: 0;
        padding: 0.5rem;
    }
    h5 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    /* Section-6 End */
    /* Footer Start */
    .footer-logo img {
        width: 11rem;
    }
    .footer-logo ul li {
        padding: 0.4rem;
    }
    footer i {
        font-size: 1.2rem;
    }
    footer p {
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    /* Footer End */
}

@media (min-width: 811px) and (max-width:900px) {
    /* section-2 Start*/
    .i-1 {
        top: 22.3rem;
    }
    .search-section-location .gps {
        top: 22.3rem;
        left: 15rem;
    }
    /* Section-2 End */
}

@media (min-width:901px) and (max-width:950px) {
    .i-1 {
        top: 22.3rem;
    }
    .search-section-location .gps {
        top: 22.5rem;
        left: 15.5rem;
    }
}

@media (min-width:951px) and (max-width:1000px) {
    .i-1 {
        top: 23rem;
    }
    .search-section-location .gps {
        top: 22.7rem;
        left: 16rem;
    }
}

@media (min-width:1001px) and (max-width:1024px) {
    .search-section-location .gps {
        top: 23rem;
        left: 16.5rem;
    }
    .i-1 {
        top: 23.1rem;
    }
}

@media (min-width: 768px) and (max-width:880px) {
    .doctor .doctor-img {
        height: 70%;
    }
    .doctor .doctor-info {
        height: 29%;
    }
    footer ul a {
        font-size: 1.2rem;
    }
}


/* For Desktop  */

@media (min-width: 1025px) {
    * {
        letter-spacing: normal;
    }
    /* nav-bar Section-1 Start */
    .menu-toggle {
        display: none;
    }
    .menu-bar {
        display: flex;
        width: 75%;
        height: 100%;
        justify-content: space-between;
    }
    .menu-bar ul {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    .menu-bar ul li {
        display: flex;
    }
    .navbar-logo {
        width: 15%;
    }
    .menu-buttons .login-button {
        background-color: var(--white);
        color: var(--textColor);
    }
    /* nav-bar Section-1 End */
    /* section-2 Start */
    .i-1 {
        top: 20.8rem;
        left: 5.7rem;
    }
    .search-section-location .fa-2x {
        font-size: 1rem;
    }
    .location {
        padding-left: 2rem;
        padding-right: 2rem;
        background-size: 1.2rem;
        background-position: 9rem 1rem;
    }
    .section-2 {
        text-align: left;
        background-image: url(../images/img1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-2-text {
        width: 75%;
    }
    .section-2 p {
        padding: 0;
    }
    .search-section input {
        margin: 0;
    }
    .search-button {
        margin: 0;
        padding: 0.7rem 3rem;
    }
    .search-section {
        display: flex;
    }
    .search-section-location {
        width: 55%;
    }
    .section-2-desktop {
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .search-section-location .gps {
        width: 1rem;
        height: 1rem;
        top: 20.7rem;
        left: 14rem;
    }
    /* Section-2 End */
    /* Section-3 Start */
    .section-3 {
        padding-top: 3rem;
    }
    .section-3 h2 {
        padding: 0;
    }
    .section-3 .section-3-text p {
        padding: 0;
    }
    .section-3 .section-3-text p::after {
        content: "Pellentesque habitant morbi tristique senectus egestas. Vestibulum  leo.";
    }
    .section-3 ol li {
        padding: 2rem;
        border-radius: 0.3rem;
        margin: 1rem 0;
        /* border-color: ; */
    }
    .section-3 .section-3-text {
        text-align: left;
    }
    .section-3-grid span {
        font-family: "nexa-bold";
        font-size: 1rem;
    }
    .section-3-grid span::after {
        content: '\2003';
    }
    .section-3-grid .grid-1 span {
        color: var(--main-backgroundColor);
    }
    .section-3-grid .grid-1 li {
        border-color: var(--main-backgroundColor);
    }
    .section-3-grid .grid-1,
    .section-3-grid .grid-2 {
        width: 80%;
    }
    .section-3-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (2, 1fr);
        column-gap: 1rem;
    }
    .section-3-grid .grid-2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .section-3-grid .grid-3 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .section-3-grid .grid-3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .section-3-grid .grid-3 img {
        width: 26rem;
        height: 27rem;
        object-fit: cover;
        padding: 1rem;
    }
    .grid-4 h4 {
        padding: 0;
    }
    .section-3 ol {
        padding: 0;
        margin: 3rem 0;
    }
    .section-3-grid .grid-1 li {
        margin: 0;
    }
    /* Section-3 End */
    /* Section-4 Start */
    .section-4-text {
        text-align: left;
    }
    .section-4 p {
        padding: 0;
    }
    .section-4-text h2 {
        padding: 0;
    }
    .doctor-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0.5rem;
    }
    .doctor {
        height: 25rem;
    }
    .doctor .doctor-img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        padding-bottom: 1.2rem;
    }
    .doctor-img img {
        object-fit: cover;
        /* object-position: 0 15%; */
    }
    .doctor .doctor-info {
        height: 29%;
        padding: 0 1.7rem;
    }
    .doctor-section hr {
        width: 1.5rem;
        background-color: var(--doctorNameColor);
    }
    .doctor-info ol li {
        font-size: 1rem;
        bottom: 0rem;
    }
    .doctor-info ul li {
        font-size: 0.8rem;
        font-family: "nexa-light";
        align-self: center;
        line-height: 1rem;
    }
    .doctor-info ul {
        padding: 0;
    }
    /* Section-4 End */
    /* Section-5 Start */
    .section-5-text {
        text-align: left;
        margin: 2rem 0;
    }
    .section-5-text p {
        padding: 0;
    }
    .section-5-text h2 {
        padding: 0;
    }
    .medical-treatment {
        margin: 0;
    }
    .treatment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 40rem);
        grid-template-rows: 12rem 5rem 3rem 18rem;
        grid-template-areas: "dentistry cancer cardiologic" "organ cancer cardiologic" "organ cancer infertility" "organ orthopadics infertility";
        gap: 0.5rem;
        margin: 2rem 0;
    }
    .dentistry {
        grid-area: dentistry;
        height: 12rem;
    }
    .cancer {
        grid-area: cancer;
        height: 21rem;
    }
    .cardiologic {
        grid-area: cardiologic;
        height: 17.5rem;
    }
    .organ {
        grid-area: organ;
        height: 27rem;
    }
    .orthopadics {
        grid-area: orthopadics;
        height: 18rem;
    }
    .infertility {
        grid-area: infertility;
        height: 21.5rem;
    }
    .overlay-text {
        padding: 0.5rem 1rem;
    }
    /* Section-5 End*/
    /*Section-6 Start*/
    .section-6-text {
        text-align: left;
    }
    .section-6-text p {
        padding: 0;
    }
    .section-6-text h2 {
        padding: 0;
    }
    .services {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0.2rem;
    }
    .service-img {
        padding: 1rem;
        border-radius: 0;
    }
    .service-img img {
        padding: 0;
    }
    /*Section-6 End*/
    /*Section-7 Start*/
    .section-7-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }
    .section-7-text {
        text-align: left;
    }
    .section-7-text h2 {
        padding: 0;
    }
    .section-7-text p {
        padding: 0;
    }
    .enquiryButton {
        font-size: 1rem;
        border-radius: 0;
        margin: 0;
    }
    /*Section-7 End*/
    /*Footer Start*/
    .social-media i {
        color: black;
    }
    .footer-logo ul li a {
        color: var(--burgerButtonColor);
    }
    .footer-social-media p {
        color: var(--burgerButtonColor);
    }
    .footer-logo img {
        width: 18%;
        padding: 0;
    }
    footer ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
    footer ul li {
        padding: 0;
    }
    footer ul li a {
        font-family: "nexa-light";
        color: var(--burgerButtonColor);
        font-size: 0.8rem;
    }
    footer p {
        font-size: 0.8rem;
        padding: 0;
    }
    footer i {
        padding: 0 0.5rem;
        font-size: 1rem;
        color: var(--burgerButtonColor);
    }
    .footer-logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .footer-social-media {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    /*Footer End*/
}


/* 
@media screen and (min-width:1042px) {
    .location {
        background-position: 9.5rem 1rem;
    }
}

@media screen and (min-width:1310px) and (max-width: 1350px) {
    .location {
        background-position: 14rem 1rem;
    }
}

@media screen and (min-width:1270px) and (max-width: 1309px) {
    .location {
        background-position: 13.5rem 1rem;
    }
}

@media screen and (min-width:1240px) and (max-width: 1269px) {
    .location {
        background-position: 13rem 1rem;
    }
}
@media screen and (min-width:1240px) and (max-width: 1269px) {
    .location {
        background-position: 13rem 1rem;
    }
} */