/*  - CONSIDERING RESET.CSS
    - do not define any particular class in theme.css;
    - float is obsolete;
    - do not adjust display property in theme.css, example no flex, grid anyting in theme.css;
    - no positions to be defined in theme.css;
    - all colors to be defined in :root
*/


/* changes to be made */
/* font-size should not be greater then 3rem; */


/* CSS VARIABLE */

:root {
  --main-backgroundColor: #add8e6;
  --footerColor: #021433;
  --white: #fff;
  --black: #000;
  --anchorColor: #00008b;
  --burgerButtonColor: #525659;
  --headingsColor: #16203c;
  --searchButtonColor: #151f3b;
  --consultButonColor: #d3d3d4;
  --servicesBackgroundColor: #f3f3f3;
  --enquiryButtonColor: #0099ff;
  --coloredSectionColor: #07072d;
  --borderColor: #0000ff;
  --textColor: #00008b;
}

/* FACE FONTS */

@font-face {
  font-family: nexa-bold;
  src: url(/tvastra/src/client/assets/fonts/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/tvastra/src/client/assets/fonts/Nexa-Light.otf);
}

/* HTML ELEMENTS */


* {
  box-sizing: border-box;
}

nav {
  padding: 1rem 2rem; 
  /* padding should be same on both the sides
  background-color: var(--white); */
}

ul {
  list-style: none; /*no padding rrequired as padding is given to nav*/
}

/* ol does not require list style to change */
/* li for both ul and ol */
li {
  font-family: "nexa-light";
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--burgerButtonColor);
}

/* seperate the lable and select tag */
label{
  font-family: "nexa-light";
  font-size: 1rem;
  color: var(--textColor);
}

select {
  font-family: "nexa-light";
  font-size: 1rem;
  color: var(--textColor);
}

a {
  text-decoration: none;
  color: var(--anchorColor);
  font-family: "nexa light";
  font-size: 2rem;
}

p {
  font-family: "nexa-light";
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--textColor);
}

section {
  padding: 1rem 2rem;
}

/*input element is by default inline */
input {
  font-size: 2rem;
  font-family: "nexa-light";
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--textColor);
  border: 1px solid var(--enquiryButtonColor);
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.radio {
  width: 1rem;
  height: 1rem;
}

textarea {
  font-family: "nexa-light";
  font-size: 2rem;
  line-height: 2.5rem;
  border: 1px solid var(--textColor);
  color: var(--textColor);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

/*padding is also given to section*/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* h1 sirf ek jagah use hoga vo bhi upar */
/* h1 aur h2 ko ek he  size dena hai */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nexa-bold";
  color: var(--headingsColor);
}

/* sab k sab headings ko ek he color dena hai */

h1 {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.6rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.2rem;
}

/*button tag is by default inline */
button {
  background-color: var(--searchButtonColor);
  font-family: "nexa-light";
  font-size: 2rem;
  color: var(--white);
  border: 1px solid var(--searchButtonColor);
  border-radius: 1rem;
  border-color: var(--searchButtonColor);
  padding: 1rem 2rem;
  cursor: pointer;  
}

.enquiryButton {
  background-color: var(--enquiryButtonColor);
  border-radius: 1rem;
}

.consultButton {
  background-color: var(--white);
  color: var(--consultButonColor);
}

/*footer me common bas itna he hai*/
footer {
  background-color: var(--footerColor);
  padding: 2rem 4rem;
}

/* ......tablet..... */

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    padding: 2rem 3rem;     
  }

  section {
    padding: 3rem 2rem;
  }
  
  button {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  textarea {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 2rem;
  }

  footer {
    background-color: var(--white);
    padding: 2rem; /*all four sides same padding*/
  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  a {
    font-size: 1.5rem;
  }

  li {
    font-size: 1rem;
    font-family: "nexa-bold";
  }

  select {
    font-size: 0.8rem;
  }

  label {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  h6 {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  /* grid view will me modified in main style.css file. As said by mentor no display and position will be modified in theme.css */
}

/* ....Desktop...... */
@media (min-width: 1024px) {
  /* all display and position properties will be defined in normal style.css file */
  nav {
    padding: 2rem 3rem;     
  }
  
  section {
    padding: 4rem 3rem;
  }

  footer {
    background-color: var(--white);
    padding: 2rem 3rem; /*all four sides same padding*/
  }

  button {
    font-size: 1rem;
    padding: 1rem 3rem; 
  }

  textarea {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  li {
    font-size: 0.8rem;
    font-family: "nexa-bold";
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1.5rem;
  }

  select {
    font-size: 0.8rem;
  }

  label {
    font-size: 0.8rem;
  }
  
  h1 {
    font-size: 2.5rem;
    /* line-height: 3.1rem; */
  }
  h2 {
    font-size: 2.5rem;
    /* line-height: 2.6rem; */
  }
  h3 {
    font-size: 2rem;
    /* line-height: 2.1rem; */
  }
  h4 {
    font-size: 1.5rem;
    /* line-height: 1.6rem; */
  }
  h5 {
    font-size: 1rem;
    /* line-height: 1.1rem; */
  }
}
