/*  - CONSIDERING RESET.CSS
    - do not define any particular class in theme.css;
    - float is obsolete;
    - do not adjust display property in theme.css, example no flex, grid anyting in theme.css;
    - no positions to be defined in theme.css;
    - all colors to be defined in :root
*/


/* changes to be made */


/* font-size should not be greater then 3rem; */


/* CSS VARIABLE */

:root {
    --main-backgroundColor: #add8e6;
    --footerColor: #021433;
    --white: #fff;
    --black: #000;
    --anchorColor: #00008b;
    --burgerButtonColor: #525659;
    --headingsColor: #16203c;
    --searchButtonColor: #151f3b;
    --consultButonColor: #d3d3d4;
    --servicesBackgroundColor: #f3f3f3;
    --enquiryButtonColor: #0099ff;
    --coloredSectionColor: #07072d;
    --borderColor: #16203c;
    --textColor: #151f3b;
    --doctorNameColor: #0099ff;
    --section6BackgroundColor: #e9e9f1;
}


/* FACE FONTS */

@font-face {
    font-family: nexa-bold;
    src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
    font-family: nexa-light;
    src: url(../fonts/Nexa-Light.otf);
}


/* HTML ELEMENTS */

* {
    letter-spacing: 0.1rem;
    box-sizing: border-box;
}

nav {
    padding: 1rem 1rem;
    height: 100%;
    /* height added afterwords */
}

ul {
    list-style: none;
    /*no padding rrequired as padding is given to nav*/
}

ul li {
    padding: 0.2rem 0;
}


/* ol does not require list style to change */


/* li for both ul and ol */

li {
    font-family: "nexa-light";
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--burgerButtonColor);
}


/* seperate the lable and select tag */

label {
    font-family: "nexa-light";
    font-size: 1rem;
    color: var(--textColor);
}

select {
    font-family: "nexa-light";
    font-size: 1rem;
    color: var(--textColor);
}

a {
    text-decoration: none;
    color: var(--anchorColor);
    font-family: "nexa light";
    font-size: 2rem;
}

p {
    font-family: "nexa-light";
    font-size: 2rem;
    line-height: 3rem;
    color: var(--textColor);
}

span {
    font-family: "nexa-light";
    font-size: 2rem;
    line-height: 3rem;
    color: var(--textColor);
}

section {
    padding: 3rem 2rem;
}


/*input element is by default inline */

input {
    font-size: 2rem;
    font-family: "nexa-light";
    padding: 1.5rem 1.5rem;
    width: 100%;
    color: var(--textColor);
    border: 1px solid var(--enquiryButtonColor);
}

::placeholder {
    font-size: 1.5rem;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.radio {
    width: 1rem;
    height: 1rem;
}

textarea {
    font-family: "nexa-light";
    font-size: 2rem;
    line-height: 2.5rem;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}


/*padding is also given to section*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* h1 sirf ek jagah use hoga vo bhi upar */


/* h1 aur h2 ko ek he  size dena hai */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "nexa-bold";
    color: var(--headingsColor);
    font: bold;
}


/* sab k sab headings ko ek he color dena hai */

h1 {
    font-size: 3.3rem;
    line-height: 4rem;
    padding: 2rem;
}

h2 {
    font-size: 3rem;
    line-height: 4.1rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3.6rem;
}

h4 {
    font-size: 2.3rem;
    line-height: 3rem;
}

h5 {
    font-size: 2rem;
    line-height: 2.2rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
}


/*button tag is by default inline */

button {
    background-color: var(--searchButtonColor);
    /* font-family: "nexa-light"; */
    font-size: 1.8rem;
    color: var(--white);
    border: 1px solid var(--searchButtonColor);
    border-radius: 1rem;
    border-color: var(--searchButtonColor);
    padding: 1rem 4rem;
    cursor: pointer;
}

.enquiryButton {
    background-color: var(--enquiryButtonColor);
    border-radius: 1rem;
}

.consultButton {
    background-color: var(--white);
    color: var(--consultButonColor);
}


/*footer me common bas itna he hai*/

footer {
    background-color: var(--footerColor);
    padding: 4rem 4rem;
}

footer i,
footer a,
footer p {
    color: var(--white);
}


/* For All Mobile Screens */

@media (min-width: 280px) and (max-width: 767px) {
    section {
        padding: 2rem 1rem;
    }
    body {
        width: 39rem;
    }
    h1 {
        font-size: 3rem;
        line-height: 3.6rem;
    }
    h2 {
        line-height: 4rem;
    }
    h3 {
        line-height: 3rem;
    }
    h5 {
        font-family: "nexa-light";
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}


/* ......tablet..... */

@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        padding: 0.5rem 2rem;
    }
    section {
        padding: 2rem 2rem;
    }
    h1 {
        font-size: 2.2rem;
        line-height: 2.6rem;
        padding: 1.5rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    input {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
     ::placeholder {
        font-size: 1rem;
    }
    button {
        font-size: 1.2rem;
        padding: 0.5rem 2rem;
    }
    h2 {
        font-size: 2.3rem;
        line-height: 2.7rem;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    h4 {
        font-size: 1.8rem;
        line-height: 2.1rem
    }
    li {
        font-size: 1.4rem;
        font-family: "nexa-light";
    }
    span {
        font-size: 1.6rem;
        font-family: "nexa-bold";
    }
    textarea {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem 2rem;
    }
    footer {
        background-color: var(--white);
        padding: 2rem;
        /*all four sides same padding*/
    }
    a {
        font-size: 1.5rem;
    }
    select {
        font-size: 0.8rem;
    }
    label {
        font-size: 0.8rem;
    }
    h5 {
        font-size: 1.5rem;
        line-height: 1.2rem;
        font-family: "nexa-light";
        color: var(--burgerButtonColor);
    }
    h6 {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    /* grid view will me modified in main style.css file. As said by mentor no display and position will be modified in theme.css */
}


/* ....Desktop...... */

@media (min-width: 1025px) {
    /* all display and position properties will be defined in normal style.css file */
    * {
        letter-spacing: 0.01rem;
    }
    section {
        padding: 1rem 5rem;
    }
    nav {
        padding: 0;
    }
    li {
        font-size: 1rem;
        line-height: 1.2rem;
        font-family: "nexa-bold";
        align-self: center;
    }
    a {
        font-size: 0.8rem;
        font-family: "nexa-light";
        color: var(--burgerButtonColor);
    }
    button {
        font-size: 0.7rem;
        padding: 0.7rem 1rem;
        border-radius: 0.3rem;
    }
    h1 {
        font-size: 2rem;
        padding: 0;
    }
    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    input {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
     ::placeholder {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 2rem;
        /* line-height: 2.6rem; */
    }
    h3 {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    span {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    h4 {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    footer {
        background-color: var(--white);
        padding: 1rem 5rem;
        /*all four sides same padding*/
    }
    textarea {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    select {
        font-size: 0.8rem;
    }
    label {
        font-size: 0.8rem;
    }
    h5 {
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-family: "nexa-light";
    }
}