/* CSS VARIABLE */

:root {
  --main-backgroundColor: #add8e6;
  --footerColor: #021433;
  --white: #fff;
  --black: #000;
  --anchorColor: #00008b;
  --burgerButtonColor: #525659;
  --headingsColor: #16203c;
  --searchButtonColor: #151f3b;
  --consultButonColor: #d3d3d4;
  --servicesBackgroundColor: #f3f3f3;
  --enquiryButtonColor: #0099ff;
  --coloredSectionColor: #07072d;
  --borderColor: #16203c;
  --textColor: #151f3b;
  --doctorNameColor: #0099ff;
  --section6BackgroundColor: #e9e9f1;
}

/* FACE FONTS */

@font-face {
  font-family: nexa-bold;
  src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(../fonts/Nexa-Light.otf);
}

/* HTML ELEMENTS */

* {
  letter-spacing: 0.1rem;
  box-sizing: border-box;
}

nav {
  height: 100%;
}

ul {
  list-style: none;
}

ul li {
  padding: 0.2rem 0;
}

li {
  font-family: "nexa-light";
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--burgerButtonColor);
}

label {
  font-family: "nexa-light";
  font-size: 1.5rem;
  color: var(--textColor);
}

select {
  font-family: "nexa-light";
  font-size: 1.5rem;
  color: var(--textColor);
}

a {
  text-decoration: none;
  color: var(--anchorColor);
  font-family: "nexa-light";
  font-size: 2rem;
}

p {
  font-family: "nexa-light";
  font-size: 2rem;
  line-height: 3rem;
  color: var(--textColor);
}

span {
  font-family: "nexa-light";
  font-size: 2rem;
  line-height: 3rem;
  color: var(--textColor);
}

section {
  padding: 2rem 1rem;
}

input {
  font-size: 2rem;
  font-family: "nexa-light";
  padding: 1.5rem 1.5rem;
  width: 100%;
  color: var(--textColor);
}

::placeholder {
  font-size: 1.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.radio {
  width: 1rem;
  height: 1rem;
}

textarea {
  font-family: "nexa-light";
  font-size: 2rem;
  line-height: 2.5rem;
  border: 1px solid var(--textColor);
  color: var(--textColor);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nexa-bold";
  color: var(--headingsColor);
  font: bold;
}

h1 {
  font-size: 3.3rem;
  line-height: 4rem;
  padding: 1rem 0;
}

h2 {
  font-size: 3rem;
  line-height: 4.1rem;
  padding: 1rem 0;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.6rem;
}

h4 {
  font-size: 2.3rem;
  line-height: 3rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.2rem;
}

button {
  background-color: var(--searchButtonColor);
  font-size: 1.8rem;
  color: var(--white);
  border: 1px solid var(--searchButtonColor);
  border-radius: 1rem;
  border-color: var(--searchButtonColor);
  padding: 1rem 4rem;
  cursor: pointer;
  font-family: "nexa-light";
}

.enquiryButton {
  background-color: var(--enquiryButtonColor);
  border-radius: 1rem;
}

.consultButton {
  background-color: var(--white);
  color: var(--consultButonColor);
}

footer {
  background-color: var(--footerColor);
  padding: 2rem 1rem;
}

footer i,
footer a,
footer p {
  color: var(--white);
}

/* For All Mobile Screens */

@media (min-width: 280px) and (max-width: 767px) {
  body {
    position: absolute;
    overflow: auto;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.6rem;
  }
  h2 {
    line-height: 4rem;
  }
  h3 {
    line-height: 3rem;
  }
  h5 {
    font-family: "nexa-light";
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

/* ......tablet..... */

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 0;
  }
  h1 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 1rem 0;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  input {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  button {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  h2 {
    font-size: 2.3rem;
    line-height: 2.7rem;
    padding: 1rem 0;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "nexa-light";
    color: var(--burgerButtonColor);
  }
  h6 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  li {
    font-size: 1.4rem;
    font-family: "nexa-light";
  }
  span {
    font-size: 1.6rem;
    font-family: "nexa-bold";
  }
  textarea {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 2rem;
  }
  footer {
    background-color: var(--white);
  }
  a {
    font-size: 1.5rem;
  }
  select {
    font-size: 0.8rem;
  }
  label {
    font-size: 0.8rem;
  }
}

/* ....Desktop...... */

@media only screen and (min-width: 1025px) {
  * {
    letter-spacing: 0.01rem;
  }
  section {
    padding: 3rem 5rem;
  }
  nav {
    padding: 0;
  }
  li {
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: "nexa-bold";
    align-self: center;
  }
  a {
    font-size: 1rem;
    font-family: "nexa-light";
    color: var(--burgerButtonColor);
  }
  button {
    font-size: 0.8rem;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
  }
  h1 {
    font-size: 2.3rem;
    padding: 0;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  span {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  footer {
    background-color: var(--white);
    padding: 1rem 5rem;
  }
  textarea {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  select {
    font-size: 0.8rem;
  }
  label {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-family: "nexa-light";
  }
}
